@font-face {
  font-family: 'icomoon';
  src:  url('/app/themes/playright/front/icomoon/fonts/icomoon.eot?3vlaan');
  src:  url('/app/themes/playright/front/icomoon/fonts/icomoon.eot?3vlaan#iefix') format('embedded-opentype'),
  url('/app/themes/playright/front/icomoon/fonts/icomoon.ttf?3vlaan') format('truetype'),
  url('/app/themes/playright/front/icomoon/fonts/icomoon.woff?3vlaan') format('woff'),
  url('/app/themes/playright/front/icomoon/fonts/icomoon.svg?3vlaan#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mma:before, .icon-mma-ufc:before {
  content: "\e951";
}
.icon-scratch-card:before {
  content: "\e946";
}
.icon-sic-bo:before {
  content: "\e94d";
}
.icon-filter-cookiecloser:before {
  content: "\e93b";
}
.icon-bingo:before {
  content: "\e928";
}
.icon-5-line-bingo:before {
  content: "\e939";
}
.icon-progressives:before {
  content: "\e925";
}
.icon-progressive-slots:before {
  content: "\e925";
}
.icon-e-mail:before {
  content: "\e900";
}
.icon-ticket-system:before {
  content: "\e901";
}
.icon-vip-program:before, .icon-vip-programe:before {
  content: "\e90d";
}
.icon-live-dealer:before {
  content: "\e924";
}
.icon-mobile-site:before {
  content: "\e902";
}
.icon-telephone-free:before {
  content: "\e902";
}
.icon-mobile-compatible:before {
  content: "\e902";
}
.icon-mobile:before {
  content: "\e902";
}
.icon-downloadable-software:before {
  content: "\e938";
}
.icon-downloadable:before {
  content: "\e938";
}
.icon-download:before {
  content: "\e938";
}
.icon-play-with-paypal:before {
  content: "\e929";
}
.icon-tablet:before {
  content: "\e916";
}
.icon-android-app:before {
  content: "\e940";
}
.icon-ios-app:before {
  content: "\e923";
}
.icon-mac:before {
  content: "\e923";
}
.icon-desktop:before {
  content: "\e92c";
}
.icon-video-poker:before {
  content: "\e90c";
}
.icon-slots:before {
  content: "\e91d";
}
.icon-progressive-slots2:before {
  content: "\e91d";
}
.icon-roulette:before {
  content: "\e918";
}
.icon-arcade:before, .icon-arcade-games:before {
  content: "\e94a";
}
.icon-casino-holdem:before, .icon-casino-hold-em:before {
  content: "\e903";
}
.icon-table-games:before {
  content: "\e903";
}
.icon-chat-games:before {
  content: "\e905";
}
.icon-live-chat:before {
  content: "\e905";
}
.icon-expertly-reviewed:before {
  content: "\e906";
}
.icon-article-icon-info:before {
  content: "\e907";
}
.icon-article-like:before {
  content: "\e908";
}
.icon-arrow-left:before {
  content: "\e909";
}
.icon-arrow-right:before {
  content: "\e90a";
}
.icon-uk-licensed:before {
  content: "\e90b";
}
.icon-binfo-vip-programe:before {
  content: "\e90e";
}
.icon-winter-sports:before {
  content: "\e90f";
}
.icon-your-email:before {
  content: "\e910";
}
.icon-your-message:before {
  content: "\e911";
}
.icon-your-name:before {
  content: "\e912";
}
.icon-quotes:before {
  content: "\e913";
}
.icon-rating-empty:before {
  content: "\e914";
}
.icon-rating-full:before {
  content: "\e915";
}
.icon-article-star:before {
  content: "\e915";
}
.icon-rating-half:before {
  content: "\e917";
}
.icon-horse-racing:before {
  content: "\e904";
}
.icon-rowing:before {
  content: "\e919";
}
.icon-rugby:before {
  content: "\e91a";
}
.icon-sailing:before {
  content: "\e91b";
}
.icon-show-jumping:before {
  content: "\e91c";
}
.icon-snooker:before {
  content: "\e91e";
}
.icon-sort-by-arrow:before {
  content: "\e91f";
}
.icon-table-tennis:before {
  content: "\e920";
}
.icon-tennis:before {
  content: "\e921";
}
.icon-themed-games:before {
  content: "\e922";
}
.icon-live-streaming:before {
  content: "\e926";
}
.icon-motor-racing:before, .icon-formula-1:before {
  content: "\e927";
}
.icon-progresive-slot:before {
  content: "\e92a";
}
.icon-in-play-betting:before, .icon-in-play-live-betting:before{
  content: "\e92b";
}
.icon-instant-play:before {
  content: "\e92d";
}
.icon-gaelic-games:before {
  content: "\e92e";
}
.icon-golf:before {
  content: "\e92f";
}
.icon-greyhound-racing:before {
  content: "\e930";
}
.icon-filter-minus:before {
  content: "\e931";
}
.icon-filter-plus:before {
  content: "\e932";
}
.icon-financials:before {
  content: "\e933";
}
.icon-football:before {
  content: "\e934";
}
.icon-darts:before {
  content: "\e935";
}
.icon-cancel---close:before {
  content: "\e936";
}
.icon-cashing-out:before {
  content: "\e937";
}
.icon-cash-out-betting:before {
  content: "\e937";
}
.icon-casino:before {
  content: "\e93a";
}
.icon-checkmark:before {
  content: "\e93c";
}
.icon-reply:before {
  content: "\e93d";
}
.icon-craps:before {
  content: "\e93e";
}
.icon-cricket:before {
  content: "\e93f";
}
.icon-cycling:before {
  content: "\e941";
}
.icon-baccarat:before {
  content: "\e942";
}
.icon-badminton:before {
  content: "\e943";
}
.icon-baseball:before {
  content: "\e944";
}
.icon-basketball:before {
  content: "\e945";
}
.icon-blackjack:before {
  content: "\e947";
}
.icon-boxing:before {
  content: "\e948";
}
.icon-american-football:before {
  content: "\e949";
}
.icon-arrow:before {
  content: "\e94b";
}
.icon-article-comments:before {
  content: "\e94c";
}
.icon-article-sport:before {
  content: "\e94e";
}
.icon-betting:before {
  content: "\e94e";
}
.icon-athletics:before {
  content: "\e94f";
}
.icon-aussie-rules:before {
  content: "\e950";
}
.icon-30-ball:before {
  content: "\e95f";
}
.icon-40-ball:before {
  content: "\e960";
}
.icon-49-ball:before {
  content: "\e961";
}
.icon-50-ball:before {
  content: "\e962";
}
.icon-75-ball:before {
  content: "\e963";
}
.icon-80-ball:before {
  content: "\e964";
}
.icon-90-ball:before {
  content: "\e965";
}

