.page404 {
	.wrapper {
		margin-top: 70px;
		@include mobile-landscape {
			margin-top: 23px;

		}
		p.whoops {
			display: block;
			font-size: 6.8em;
			font-weight: lighter;
			letter-spacing: 0.2em;
			@include tablet-landscape {
				font-size: 3.4em;
			}
			@include tablet-portrait {
				 font-size: 2em;
			 }
			@include mobile-landscape {
				font-size: 2.5em;
			}
		}
		b {
			display: block;
			font-weight: bold;
			font-size: 1.7em;
			width: 13em;
			line-height: 1.2em;
			@include tablet-landscape {
				font-size: 1.3em;
			}
			@include mobile-landscape {
				font-size: 0.9em;
			}
		}
		button {
			color: #ffcf2f;
			background-color: white;
			border: 1px solid #ffcf2f;
			padding: 10px 50px;
			font-size: 0.9em;
			font-weight: bold;
			margin-top: 30px;
			@include mobile-portrait{
				padding: 10px 22px;
				font-size: 0.9em;
			}
		}
		img {
			width: 70%;
			@include mobile-portrait{
				width: 100%;
			}
			@media (max-width: 321px) {
				display: none;
			}
		}
		i {
			transform: rotate(180deg);
			-webkit-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			-o-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			transform: rotate(180deg);
			display: inline-block;
			margin-left: 10px;
			font-size: 0.9em;
			font-weight: bold;
		}
	}
}