.academy-archive {
  .categories-wrapper {
    margin-top: 30px;
    &:after {
      content: '';
      border: 1px solid lightgray;
      width: 140px;
      text-align: center;
      display: block;
      margin: 46px auto 56px;
    }
  }
  .menu-item {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    text-decoration: none;
    .img-wrapper {
      padding: 15px 0 15px 0;
      border: 1px solid transparent;
      border-radius: 5px;
      box-shadow: 2px 8px 17px 3px #dfdfdf;
      width: 145px;
      @include mobile-landscape {
        width: 130px;
      }
      @include mobile-portrait {
        width: 100px;
      }
    }
    .category-title {
      margin-top: 15px;
      text-align: center;
      display: block;
      color: black;
      font-weight: 400;
      font-size: 1.1em;
    }
    &:hover {
      text-decoration: none;
      -webkit-animation: thumb 0.9s linear 1;
      -moz-animation: thumb 0.9s linear 1;
      -ms-animation: thumb 0.9s linear 1;
      -o-animation: thumb 0.9s linear 1;
      animation: thumb 0.9s linear 1;
    }
  }
  .category {
    text-align: left;
    min-height: 140px;

    @include mobile-landscape {
      text-align: center;
      margin-bottom: 20px;
    }
    .text {
      min-height: 110px;
      position: relative;
      h4 {
        margin: 0;
        height: auto;
        font-weight: 900;
        font-size: 1.2em;
        text-align: left;
        line-height: 1.1em;
        @include mobile-landscape {
          text-align: center;
        }
      }
      .post-excerpt {
        margin: 5px 0;
        min-height: 60px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      a {
        position: absolute;
        bottom: 0;
        font-weight: bold;
        text-decoration: underline;
        color: #222;
        @include mobile-landscape {
          position: static;
          margin-bottom: 15px;
          text-align: center;
        }
      }
    }
  }
  .category-name {
    margin: 10px 0;
    font-size: 1.8em;
    font-weight: 900;
    text-align: left;
    @include mobile-landscape {
      text-align: center;
    }
  }
.wrapper:not(:last-child):after {
  content: '';
  margin: 20px 0;
  display: block;
  border-bottom: 1px solid #ddd;
}
}

.academy-single {
  .content-wrapper {
    padding-top: 20px;
  }
  .img-title {
    -webkit-box-shadow: 0px 13px 23px 2px rgba(200,200,200,0.9);
    -moz-box-shadow: 0px 13px 23px 2px rgba(200,200,200,0.9);
    box-shadow: 0px 13px 23px 2px rgba(200,200,200,0.9);
    border-radius: 10px;
    max-width: 95%;
  @include mobile-landscape {
    margin: 0 auto;
   }
  }
  .main-title {
    margin-bottom: 20px;
    font-weight: 100;
  }
  .features {
    margin-bottom: 20px;
    padding-left: 7px;
    .social-attributes {
      .author {
        margin: 0;
      }
      span {
        padding-right: 10px;
        display: inline-block;
        height: 10px;
        line-height: 10px;
        vertical-align: top;
        &.count {
          padding-right: 0;
          padding-left: 5px;
        }
      }
      span:not(:first-of-type) {
        padding-left: 10px;
      }
      span:not(:last-of-type) {
        border-right: 1px solid black;
      }

      i {
        font-weight: bold;
        margin-top: -2px;
        display:inline-block;
      }
    }
  }
}