
@include keyframes(thumb) {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(1.05)
  }
  100% {
    transform: scale(1)
  }
}

@include keyframes (zoomIn) {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@include keyframes (zoomOut) {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  to {
    opacity: 0;
  }
}


@-webkit-keyframes flipInY {
  0% {
    opacity:0;
    -webkit-transform: perspective(400px)  rotate3d(0, 1, 0, -90deg) scale(1);
    transform: perspective(400px)  rotate3d(0, 1, 0, -90deg) scale(1);
  }

  100% {
    opacity:1;
    -webkit-transform: perspective(400px)  rotateY(-180deg) scale(1);
    transform: perspective(400px)  rotateY(-180deg) scale(1);
  }
}
@keyframes flipInY {
  0% {
    opacity:0;
    -webkit-transform: perspective(400px)  rotate3d(0, 1, 0, -90deg) scale(1);
    transform: perspective(400px)  rotate3d(0, 1, 0, -90deg) scale(1);
  }
  100% {
    opacity:1;
    -webkit-transform: perspective(400px)  rotateY(-180deg) scale(1);
    transform: perspective(400px) rotateY(-180deg) scale(1);
  }
}
