.background-wrapper {
    @include mobile-landscape {
        background-image: none !important;
    }
}
.main-content-wrapper-hp {
    background: url(/app/themes/playright/front/img/background-home-page.jpg) top center no-repeat;
    padding-bottom: 30px;
}
.video-text {
    margin-top: 30px;
    @include mobile-landscape {
        margin-top: 10px;
    }
    p {
        font-size: 40px;
        font-weight: 300;
        line-height: 1.2;
        padding-top: 15px;
        b {
            font-weight: 900;
        }
        @include tablet-portrait {
            padding-top: 0;
            padding-bottom: 10px;
            text-align: center;
        }
        @include mobile-landscape {
            text-align: center;
            font-size: 25px;
        }
        @include mobile-portrait {
            text-align: center;
            font-size: 25px;
        }
    }
    iframe {
        -webkit-box-shadow: 26px 24px 0px -5px rgba(221,221,221,1);
        -moz-box-shadow: 26px 24px 0px -5px rgba(221,221,221,1);
        box-shadow: 26px 24px 0px -5px rgba(221,221,221,1);
        margin-bottom: 100px;
        width:560px;
        height: 316px;
        @media (max-width: 1365px) and (min-width: 1242px ) {
            width:500px;
            height: 281px;
        }
        @media (max-width: 1241px) and (min-width: 1116px )  {
            width: 400px;
            height: 225px;
        }
        @media (max-width: 1116px) and (min-width: 992px )  {
            width: 350px;
            height: 197px;
        }
        @include tablet-portrait {
            -webkit-box-shadow: 53px 24px 0px -5px rgba(221,221,221,1);
            -moz-box-shadow: 53px 24px 0px -5px rgba(221,221,221,1);
            box-shadow: 53px 24px 0px -5px rgba(221,221,221,1);
            margin-bottom: 50px;
        }
        @include mobile-landscape {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }
    }
    .video-container {
        margin-bottom: 50px;
        @include mobile-portrait {
            margin-bottom: 0px;
        }
    }
    @include tablet-portrait {
        .video-container {
            position: relative;
            padding-bottom: 56.25%;
            padding-top: 30px; height: 0; overflow: hidden;
            text-align: center;
            box-shadow: 53px 24px 0px -5px rgba(221,221,221,1);
        }

        .video-container iframe,
        .video-container object,
        .video-container embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    @include mobile-landscape {
        .video-container {
            position: relative;
            padding-bottom: 56.25%;
            padding-top: 30px; height: 0; overflow: hidden;
            text-align: center;
        }

        .video-container iframe,
        .video-container object,
        .video-container embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .nopadding {
            padding: 0 0;
        }
    }
}

.compare-hp {
    text-align: center;
    h3 {
        font-weight: 900;
    }
    p{
        color: #acacac;
        min-height: 70px;
    }
    @include mobile-landscape {
        p {
            min-height: 0px;
        }
    }
}
.brand-of-the-month {
    margin-bottom: 50px;
    .border {
        border-right: 1px solid #eee;
        @include tablet-portrait {
            border-bottom: 1px solid #eee;
            border-right: 0px solid #eee;
        }
        @include mobile-landscape {
            border-bottom: 1px solid #eee;
        }
    }
    .space-from-right {
        padding-right: 35px;
        @include tablet-portrait {
            padding-right: 0px;
        }
        @include mobile-portrait {
            padding-right: 0px;
        }
        @include mobile-landscape {
            padding-right: 0;
        }
    }
    .space-from-left {
        padding-left: 40px;
        @include tablet-portrait {
            padding-left: 15px;
            padding-top: 15px;
        }
        @include mobile-landscape {
            padding-left: 15px;
            padding-top: 15px;
        }
    }
    @include tablet-portrait {
        border-bottom: 1px solid #eee;
    }
    @include mobile-landscape {
        border-bottom: 1px solid #eee;
    }
    p {
        margin: 10px 0px 0px 0px;
    }
    .post-paragraph {
        min-height: 110px;
        max-height: 150px;
        @include tablet-portrait {
            min-height: auto;
            max-height: auto;
        }
        @include mobile-landscape {
            min-height: auto;
            max-height: auto;
            font-size: 14px;
        }
        @include mobile-portrait {
            min-height: auto;
            max-height: auto;
            font-size: 14px;
        }
    }
    .header-wrapper {
        img {
            display: inline-block;
            vertical-align: middle;
            @include tablet-landscape {
                width: 98px;
            }
            @include mobile-landscape {
                width: 80px;
            }
            @include mobile-portrait {
                width: 50px;
            }
        }
        .text {
            display: inline-block;
            vertical-align: middle;
            margin-left: 10px;
            @include mobile-portrait {
                margin-left: 2px;
            }
            p{
                margin: 0px 0px 0px 0px;
                line-height: 1;
            }
            p:first-child {
                font-weight: 300;
                font-size: 40px;
                @include tablet-landscape {
                    font-size: 35px;
                }
                @include mobile-landscape {
                    font-size: 30px;
                }
                @include mobile-portrait {
                    font-size: 20px;
                }
            }
            p:last-child {
                font-weight: 900;
                font-size: 20px;
                @include tablet-landscape {
                    font-size: 18px;
                }
                @include mobile-landscape {
                    font-size: 18px;
                }
                @include mobile-portrait {
                    font-size: 16px;
                }
            }
        }
    }
    .default-button {
        margin-top: 20px;
        display: inline-block;
        &:hover {
            color: #724e0e;
            text-decoration: none;
        }
        @include tablet-portrait {
            margin-bottom: 20px;
        }
        @include mobile-landscape {
            margin-bottom: 20px;
            padding: 12px 20px;
            font-size: 14px;
        }
    }
    @include tablet-portrait {
        margin-top: 20px;
    }
    @include mobile-landscape {
        margin-top: 20px;
    }
    .tablet-link {
        @include tablet-portrait {
            text-align: center;
        }
        @include mobile-portrait {
            text-align: center;
        }
        @include mobile-landscape {
            text-align: center;
        }
    }
}
.selected-filters {
    .filter {
        float: left;
        background: #f5f5f5;
        border: 1px solid #ccc;
        padding: 5px 10px;
        font-size: 0.9em;
        margin: 0 20px 10px 0;
        position: relative;
        .remove {
            color: #fff;
            background: #ff1e00;
            border-radius: 100%;
            font-size: 7px;
            line-height: 7px;
            position: absolute;
            top: -7px;
            right: -7px;
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.review-title {
    margin-top: 60px;
    &:after {
        width: 60px;
        content: '';
        margin: 10px auto 20px;
        display: block;
        border: 1px solid #000;
    }
}
.review-slots {
    .review-title {
        &:after {
            width: 50px;
            text-align: start;
            margin: 10px 0 20px;
            border: 1px solid #222;
        }
    }
}

.review-title-slots, .academy-single-title {
    font-weight: 300;
    &:after {
        width: 22px;
        content: ' ';
        border-bottom: 1px solid #ddd;
        display: block;
        margin: 20px 0;
    }
    @include mobile-landscape {
        text-align: center;
        &:after {
            margin: 10px auto;
        }
    }
}
h3.academy-single-title  {
    margin-top: 0;
}

.more-slots-reviews {
    font-size: 2em;
    font-weight: 400;
}
.academy-single {
    .right-part {
        padding-left: 30px;
    }
}

.review-software {
    .slider {
        @include mobile-landscape {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
}
.sub-title {
    font-weight: 400;
}