.brands-table {
  display: table;
  position: relative;
  border-collapse: separate;
  text-align: center;
  z-index: 10;
  color: #222;
  clear: both;
  width: 100%;
  max-width: 100%;
  border-spacing: 0 15px;
  font-size: 1.2em;
  overflow-x: auto;
  min-height: .01%;

  a {
    color: #222;
    display: inline-block;
  }

  .cell {
    padding: 15px;
    display: table-cell;
    vertical-align: middle;
  }

   .table-row, .headers {
     display: table-row;
   }

  .headers {
    text-transform: uppercase;
    color: white;
    background-color: #222;
    font-size: 0.8em;
    .cell {
        padding: 5px;
    }
  }
  .table-row {
    background-color: #fff;
    >.cell {
      border: 1px solid rgba(172,172,172,0.18);
      padding: 5px;
      &:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
      &:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }
  .logo {
    position: relative;
    padding: 0px;
  }
  .rating {
    .score-stars {
      .rate-it {
        padding-top: 0px;
        padding-bottom: 5px;
        .tp-rating {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          list-style: none;
          margin: 0;
          padding: 0;
          justify-content: center;
          li {
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 20px;
            -ms-flex: 0 0 20px;
            flex: 0 0 20px;
          }
        }
      }
    }
  }
  .features {
      .list {
        padding: 0;
        li {
          list-style-type: none;
          display: inline-block;
          margin: 2px 2px 5px;
          padding: 0 5px;
        }
      }
    }
    .review-link {
      text-decoration: underline;
    }
  }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .brands-table {
    .table-row {
      box-shadow: none;
      .cell {
        border: 1px solid rgba(172, 172, 172, 0.18);
      }
    }
  }
}
@supports (-ms-ime-align:auto) {
  .brands-table {
    .table-row {
      box-shadow: none;
      .cell {
        border: 1px solid rgba(172, 172, 172, 0.18);
      }
    }
  }
}
@supports (-ms-accelerator:auto) {
  .brands-table {
    .table-row {
      box-shadow: none;
      .cell {
        border: 1px solid rgba(172, 172, 172, 0.18);
      }
    }
  }
}
@media screen {
  .brands-table {
    .table-row {
      box-shadow: none;
      .cell {
        border: 1px solid rgba(172, 172, 172, 0.18);
      }
    }
  }
}
@media not all and (min-resolution: .001dpcm) {
  @supports (-webkit-appearance:none) {
    .brands-table {
      .table-row {
        box-shadow: none;
        .cell {
          border: 1px solid rgba(172, 172, 172, 0.18);
        }
      }
    }
  }
}
@supports (overflow:-webkit-marquee) and (justify-content:inherit) {
  .brands-table .cell {
    border: 1px solid rgba(172, 172, 172, 0.18);
  }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .brands-table .cell {
    border: 1px solid rgba(172, 172, 172, 0.18);
  }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
  .brands-table .cell {
    border: 1px solid rgba(172, 172, 172, 0.18);
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .brands-table .cell {
    border-top: 1px solid rgba(172, 172, 172, 0.18);
    border-bottom: 1px solid rgba(172, 172, 172, 0.18);
  }
}
