.default-button {
	background: #f5c22e;
    padding: 15px 20px;
    border: 0;
    border-radius: 5px;
    min-width: 200px;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: #000;
        -webkit-animation: thumb 0.9s linear 1;
        -moz-animation: thumb 0.9s linear 1;
        -ms-animation: thumb 0.9s linear 1;
        -o-animation: thumb 0.9s linear 1;
        animation: thumb 0.9s linear 1;
    }

}

.default-button.green {
    font-size: 17px;
    background: #7acd0b;
    color: #fff;
}

.default-button.green-bg {
    color: #2e6513;
    min-width: 130px;
    background: url(/app/themes/playright/front/img/bonus-bg.jpg);
    text-decoration: none;
}
.get-bonus-button {
    height: 41px;
    background-image: url(/app/themes/playright/front/img/BetNow-Button-desktop.png);
    background-size: cover;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    position: absolute;
    margin: 5px auto 0 auto;
    width: 140px;
    left: 0;
    right: 0;
    top: 2%;
}
.background-green {
    background-image: url(http://s3-eu-west-1.amazonaws.com/prwp/app/uploads/20180116085400/GetBonus-Button-Retina.jpg);
    background-size: cover;
    color: #fff;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 400;
    padding-top: 7px;
    &:hover {
        text-decoration: none;
    }
}