.events-list {
	margin-bottom: 70px;
	.post-container {
		padding: 10px;
		border: 1px solid rgba(172,172,172,0.2);
		margin: 10px;
		.post-thumbnail {
			background-size: cover;
			max-width: 100%;
			min-height: 210px;
		}
		.post-excerpt {
			font-weight: 300;
			font-size: 15px;
			min-height: 210px;
			position: relative;
			@include mobile-landscape {
				padding-bottom: 30px;
				min-height: auto;
			}
			p {
				font-size: .9em;
				color: #acacac;
			}
			.post-headers {
				a {
					text-decoration: none;
				}
				h2 {
					font-size: 1.5em;
					font-weight: bold;
					margin: 15px 0;
					color: black;
				}
			}
			.details {
				width: 100%;
				position: absolute;
				bottom: 10px;
				.read-more {
					float: left;
					display: inline-block;
					font-size: 0.9em;
					text-decoration: underline;
				}
				.arrow-right {
					float: right;
					margin-right: 15%;
					&:hover{
						transition:all 0.4s linear;
						transform:rotate(720deg);
					}
					i {
						font-size: 1.5em;
						color: #acacac;
						&:before {
							margin-right: 10px;
							display: inline-block;
							transform: scaleX(-1);
						}
					}
				}
			}
		}

	}
}