//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//Deprecated `$screen-xs` as of v3.0.1
$screen-xs: 480px !default;
//Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min: $screen-xs !default;
//Deprecated `$screen-phone` as of v3.0.1
$screen-phone: $screen-xs-min !default;

// Small screen / tablet
// Deprecated `$screen-sm` as of v3.0.1
$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;
//Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet: $screen-sm-min !default;

// Medium screen / desktop
// Deprecated `$screen-md` as of v3.0.1
$screen-md: 992px !default;
$screen-md-min: $screen-md !default;
//Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop: $screen-md-min !default;

// Large screen / wide desktop
// Deprecated `$screen-lg` as of v3.0.1
$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg !default;
//Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop: $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;

//responsive screen sizes
@mixin desktop { //large desktops and laptops (max-width: 1200px)
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}
@mixin tablet-landscape { //landscape tablets and medium desktops (min-width: 992px, max-width: 1199px)
  @media (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max}){
    @content;
  }
}

@mixin tablet-portrait { //portrait tablets and small desktops (min-width: 768px, max-width: 991px)
  @media (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max}){
    @content;
  }
}

@mixin mobile-landscape { //landscape phones and portrait tablets (max-width: 767px)
  @media (max-width: #{$screen-xs-max}){
    @content;
  }
}

@mixin mobile-portrait { //portrait phones and smaller (max-width: 480px)
  @media (max-width: #{$screen-xs-min}){
    @content;
  }
}
//end responsive screen sizes mixin

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}