/* HP */
.sprite-hp {
    background: url('/app/themes/playright/front/img/sprites/sprite-homepage.png') no-repeat;
    width: 160px;
    height: 100px;
    margin-top: 20px;

    &.star {
        background-position: -21px -148px;
    }

    &.shield {
        background-position: -211px -148px;
    }

    &.deposits {
        background-position: -21px -18px;
    }

    &.game {
        background-position: -591px -18px;
    }

    &.software {
        background-position: -401px -148px;
    }

    &.devices {
        background-position: -401px -18px;
    }

    &.bonuses {
        background-position: -211px -18px;
    }
}

/* LICENSING AND TRUSTWORTHINESS */
.licensing-trustworthiness {
    .sprite {
        background: url('http://s3-eu-west-1.amazonaws.com/prwp/app/uploads/20180121095358/Licensing_sprit_casino.png') no-repeat;
        width: 149px;
        height: 73px;
        margin-bottom: 10px;
        border-radius: 5px 5px 5px 5px;
        -moz-border-radius: 5px 5px 5px 5px;
        -webkit-border-radius: 5px 5px 5px 5px;
        border: 0 solid #000000;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%); /* Safari */
        position: absolute;
        max-width: 100%;
        top: 50%;
        left: 50%;
        box-shadow: none;
        &.ecogra {
            background-position: -330px -97px;
        }

        &.uk-gambling-commission {
            background-position: -4px -8px;
        }

        &.gambling-commission {
            background-position: -166px -8px;
        }

        &.ibas {
            background-position: -169px -184px;
        }

        &.gibraltar-remote-gambling-license {
            background-position: -7px -94px;
        }

        &.gibraltar {
            background-position: -323px -10px;
        }

        &.alderney {
            background-position: -486px -8px;
        }

        &.malta-gaming-authority {
            background-position: -170px -9px;
        }

        &.ireland {
            background-position: -167px -96px;
        }

        &.essa {
            background-position: -638px -4px;
        }
        &.isle-of-man {
            background-position: -7px -96px;
        }
        &.gli {
            background-position: -484px -97px;
        }
        &.tst {
            background-position: -324px -181px;
        }
        &.itech-labs {
            background-position: -486px -181px;
        }
    }

}

/* SOFTWARE PROVIDERS */

.software-providers {
    .sprite {
        background: url('http://s3-eu-west-1.amazonaws.com/prwp/app/uploads/20180109092317/new-sprites-software.jpg') no-repeat;
        height: 100px;
        width: 175px;
        background-position: -30px -20px;

        &.nextgen-gaming {
            background-position: -212px -236px;
        }
        &.microgaming {
            background-position: -761px -128px;
        }
        &.betsoft {
            background-position: -395px -20px;
        }
        &.blueprint-gaming {
            background-position: -578px -20px;
        }
        &.electracade {
            background-position: -760px -20px;
        }
        &.bally-barcrest {
            background-position: -213px -20px;
        }
        &.elk-studios {
            background-position: -30px -128px;
        }
        &.gaming-1x2 {
            background-position: -30px -20px;
        }
        &.evolution {
            background-position: -213px -128px;
        }
        &.igt {
            background-position: -394px -128px;
        }
        &.isoftbet {
            background-position: -578px -128px;
        }
        &.netent {
            background-position: -30px -236px;
        }
        &.play-n-go, &.plays-go {
            background-position: -394px -236px;
        }
        &.quickspin {
            background-position: -762px -236px;
        }
        &.playtech {
            background-position: -577px -236px;
        }
        &.rabcat {
            background-position: -30px -344px;
        }
        &.thunderkick {
            background-position: -213px -344px;
        }
        &.yggdrasil {
            background-position: -393px -344px;
        }
        &.dragonfish {
            background-position: -576px -344px;
        }
        &.virtuefusion {
            background-position: -762px -344px;
        }
        &.leapfrog {
            background-position: -30px -451px;
        }
        &.gamesys {
            background-position: -213px -451px;
        }
        &.in-house-software {

        }
    }
}
/* END SOFTWARE PROVIDERS */

/* PAYMENT METHODS */
.payment-methods {
    .sprite {
        background: url('http://s3-eu-west-1.amazonaws.com/prwp/app/uploads/20180109115915/Payment_IMG_for_CSS2.png');
        width: 137px;
        height: 100px;
        margin: 0 auto;

        &.wire-transfer {
            background-position: -9px -16px;
        }

        &.visa-electron {
            background-position: -161px -16px;
        }

        &.visa {
            background-position: -313px -16px;
        }

        &.ukash {
            background-position: -465px -16px;
        }

        &.trustly {
            background-position: -617px -16px;
        }

        &.skrill {
            background-position: -9px -129px;
        }

        &.paysafecard {
            background-position: -161px -129px;
        }

        &.paypal {
            background-position: -313px -129px;
        }

        &.neteller {
            background-position: -465px -129px;
        }

        &.mastercard {
            background-position: -617px -129px;
        }

        &.debit {
            background-position: -9px -241px;
        }

        &.entropay {
            background-position: -161px -241px;
        }

        &.diners-club {
            background-position: -313px -241px;
        }

        &.wire-transfer-bank-transfer {
            background-position: -8px -20px;
        }

        &.ideal {
            background-position: -617px -242px;
        }

        &.american-express {
            background-position: -9px -354px;
        }

        &.western-union {
            background-position: -161px -354px;
        }

        &.bitcoin {
            background-position: -313px -354px;
        }
    }
}
/* END PAYMENT METHODS */