/* GENERAL */
.rating {
    .tp-rating{
        justify-content: center;
    }
    .review-link {
        padding: 0px 3px;
    }
    i:before {
        content: "\e914";
    }
    .active i:before {
        content: "\e915";
    }
    .half .stars:before {
        content: "\e917";
    }
}
.tp-rating {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.tp-rating__item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 24px;
    -ms-flex: 0 0 24px;
    flex: 0 0 24px;
    height: 24px;
}

/* RATING STARS */
.stars {
    display: block;
    color: #f5c22a;
    font-family: icomoon;
    font-style: normal;
}
.stars[data-rate_amount="4.5"] {
    &:before {
        content: "\e915" + "\e915" + "\e915" + "\e915" + "\e915";
    }
}

/* END RATING STARS */



