.default-table {

    width: 100%;
    max-width: 100%;
    margin-bottom: 50px;
    -webkit-box-shadow: 0px 8px 17px 2px rgba(221, 221, 221, 1);
    -moz-box-shadow: 0px 8px 17px 2px rgba(221, 221, 221, 1);
    box-shadow: 0px 8px 17px 2px rgba(221, 221, 221, 1);

    tbody {
        tr {

            &:nth-child(2n) {
                background-color: #e2e2e2;
            }
            &:nth-child(2n+1) {
                background-color: #fff;
            }
        }
    }

    ul {
        list-style: none;
        padding: 0;
        li {
            padding: 2px 0;
            text-indent: -1.9em;
            padding-left: 20px;
            list-style-type: none;
            text-align: left;
        }
        li:before {
            content: "• ";
            font-size: 3.2em;
            line-height: 5px;
            vertical-align: middle;
            color: #b4b4b4;
        }
    }

    td {
        &:nth-child(2n) {
            font-weight: normal;
        }
        &:nth-child(2n+1) {
            font-weight: 600;
        }
    }

    td, th {
        border: none;
        padding: 20px 30px;
        vertical-align: middle;
    }

    td:nth-child(2n+1), th:nth-child(2n+1) {
        width: 15%;
    }

    th {
        text-transform: capitalize;
        color: #fff;
    }
    thead {
        background-color: #000;
        tr {
            border-bottom: 6px solid #e8e8e8;
        }
    }

    td {
        border-right: 1px solid #d6d6d6;

    }

    td:last-child {
        border: none;
    }

    &.text-center {
        td:nth-child(2n+1), th:nth-child(2n+1) {
            width: auto;
        }
        td:nth-child(2n+1) {
            font-weight: normal;
        }
        th {
            text-align: center;
        }
        &.first-row {
            td:first-child {
                width: 20%;
                padding: 20px 10px;
            }
        }
    }
    &.yellow-table {
        thead tr {
            background: #ffc600;
        }
        th {
            color: #4c3900;
        }
        tbody tr {
            border-bottom: 1px solid #f1f1f0;
            td {
                border-right: 1px solid #f1f1f0;
            }
            &:nth-child(2n+1), &:nth-child(2n) {
                background-color: #fffdf6;
            }
        }
        &.double-header {
            tbody {
                tr:nth-child(2n) {
                    background: #fdf5de;
                }
            }
            thead {
                th {
                    &:first-child {
                        padding: 10px 20px;
                    }
                }
                tr {
                    border: 0;
                    background: #fff;
                    &:last-child {
                        background: #ffc600;
                        border-bottom: 6px solid #e8e8e8;
                    }
                }
            }
            .bonus-txt {
                font-size: 32px;
                font-weight: 300;
                vertical-align: text-top;
                padding-left: 28px;
            }
            .casumo-logo {
                background: url() no-repeat;
                height: 52px;
                width: 158px;
                display: inline-block;
                background-size: contain;
                &:after {
                    content: '';
                    height: 22px;
                    width: 1px;
                    position: relative;
                    left: 79px;
                    top: 17px;
                    display: inline-block;
                    background-color: #484848;
                }
            }
            &.games-offered {
                &.hidden-xs {
                    width: 85%;
                }
                thead tr:last-child {
                    background: #ffc600;
                }
                tr {
                    border-bottom: 0;
                    &:nth-child(2n+1) {
                        background-color: #fff;
                    }
                    &:nth-child(2n) {
                        background: #fafaf8;
                    }
                    td {
                        width: 16%;
                        padding: 50px 0;
                        img {
                            width: 100%;
                        }
                        &:last-child {
                            width: 30%;
                            padding: 10px;
                            font-size: 13px;
                            text-align: left;
                        }
                        .circle {
                            border-radius: 50%;
                            width: 20px;
                            height: 20px;
                            display: inline-block;
                            line-height: 10px;
                            font-size: 0.7em;
                            padding: 4px 5px;
                            &.red {
                                background: #ee1115;
                                padding: 5px;
                                i {
                                    color: #fff;
                                    font-weight: 600;
                                    font-size: 0.9em;
                                }
                            }
                            &.green {
                                background: #1fb31f;
                                i {
                                    color: #fff;
                                }
                            }
                        }
                    }
                    ul {
                        padding: 0 1% 0 0;
                        display: inline-block;
                        width: 49%;
                        vertical-align: top;
                        li {
                            text-indent: -1.5em;
                            list-style: none;
                            &:before {
                                content: '♣ ';
                                font-size: 1.5em;
                                vertical-align: top;
                                line-height: 0.8em;
                            }
                        }
                    }
                }
                &.mobile-table {
                    thead {
                        background-color: transparent;
                    }
                    th {
                        padding: 20px 10px;
                        width: 15%;
                        &:first-child {
                            width: 40%;
                        }
                        i {
                            font-weight: 900;
                            font-size: 25px;
                        }
                    }
                    tr td {
                        padding: 30px 20px;
                        border-right: 0;
                        width: 15%;
                        &:last-child {
                            text-align: center;
                            width: 15%;
                            padding: 30px 20px;
                        }
                        &:first-child {
                            width: 40%;
                            padding: 0px;
                        }
                        .circle {
                            padding: 6px 5px;
                        }
                        img {
                            max-width: 100%;
                            margin: 0;
                            padding: 0;
                        }
                    }
                    thead tr:last-child {
                        border-bottom: 0;
                    }
                }
            }
        }
        &.cashing-out {
            td {
                padding: 20px 10px;
                font-size: 14px;
                &:nth-child(3n+0) {
                    width: 40%;
                }
            }
            &.live-streaming {
                td:nth-child(2) {
                    width: 26%;
                }
                td:nth-child(3) {
                    width: 30%;
                    ul {
                        margin: 0 auto;
                        display: inline-block;
                    }
                }
            }
        }
    }
    &.playn-go {
        thead {
            tr {
                border: 0;
                th {
                    width: 50%;
                    background: #fff;
                    font-size: 40px;
                    color: #000;
                    padding-bottom: 10px;
                    font-weight: 900;
                    div {
                        padding-bottom: 20px;
                        border-bottom: 1px solid #eee;
                        text-transform: none;
                    }
                }
            }
        }
        td {
            border: none;
            padding: 15px 35px;
            background-color: #fff;
            font-weight: 400;
            span {
                padding-right: 5px;
            }
            div {
                margin-bottom: 20px;
            }
        }
        .icon-cancel---close {
            color: #ff3636;
            font-size: 10px;
            font-weight: 900;
        }
    }

    &.microgaming {
        thead tr th {
            font-weight: 300;
            img {
                display: block;
                width: 140px;
            }
            b {
                font-weight: 900;
            }
        }
    }

    &.game-wagering {
        .scratch-card {
            width: 33px;
            height: 48px;
            background: url('/app/themes/playright/front/img//card.png') no-repeat;
        }
        .sicbo {
            width: 33px;
            height: 48px;
            background: url('/app/themes/playright/front/img/sicbo.png') no-repeat;
        }
        thead {
            tr {
                border: 0;
            }
            .betfair-logo {
                background: url('/app/themes/playright/front/img/Betfair-Logo-WageringTable.jpg') no-repeat;
                height: 47px;
                width: 140px;
                display: inline-block;
                background-size: contain;
                &:after {
                    content: '';
                    height: 22px;
                    width: 1px;
                    position: relative;
                    left: 71px;
                    top: 13px;
                    display: inline-block;
                    background-color: #484848;
                }
            }
            .bonus-txt {
                display: inline-block;
                vertical-align: bottom;
                height: 40px;
                padding-left: 20px;
            }
        }
        th {
            text-align: center;
            padding: 0;
            div:first-child {
                background: #fff;
                color: #000;
                padding: 10px 0;
                font-weight: 300;
                font-size: 30px;
            }
            div:last-child {
                padding: 10px 0;
                font-size: 26px;
                background: #222;
            }
        }
        tbody {
            p {
                font-weight: 200;
            }

            tr:nth-child(2n+1) {
                background-color: #e5e5e5;
                i {
                    font-size: 33px;
                    padding: 5px 0 7px;
                    display: inline-block;
                }
            }
            tr:nth-child(2n) {
                background-color: #fff;
                border-bottom: 2px solid #f4f4f4;
                td {
                    font-weight: 900;
                    font-size: 22px;
                }
            }
            td {
                width: 20%;
                padding: 10px;
                text-align: center;
                border-right: 3px solid #f6f6f6;
            }
            td:last-child {
                border: 0;
            }
        }
    }

    &.multi {
        td:nth-child(2n) {
            width: 35%;
        }
    }
}
.two-columns {
    tr:last-child td {
        padding-bottom: 30px;
    }
    width: 80%;
    max-width: 100%;
    margin: 30px 0 30px 10%;
    -webkit-box-shadow: 0px 8px 17px 2px rgba(221, 221, 221, 1);
    -moz-box-shadow: 0px 8px 17px 2px rgba(221, 221, 221, 1);
    box-shadow: 0px 8px 17px 2px rgba(221, 221, 221, 1);
    td {
        width: 50%;
        padding: 10px 30px 10px 60px;
        text-indent: -30px;
        &:before {
            content: "• ";
            font-size: 3.2em;
            line-height: 5px;
            vertical-align: middle;
            color: #b4b4b4;
        }
    }
    th {
        font-size: 40px;
        font-weight: normal;
        padding: 20px 30px 0;
        span {
            border-bottom: 1px solid #eee;
            display: inline-block;
            width: 100%;
            padding-bottom: 15px;
            margin-bottom: 10px;
        }
    }
}

.dynamic-list-table.slots-games-table {
    .headers {
        background: #fff;
        color: #222;
        .cell {
            padding-bottom: 0;
            font-size: 15px;
            font-weight: 600;
        }
    }
    div.table div.table-row {
        background: #f8f8f8;
        .logo {
            background: #f8f8f8;
        }
        .visit {
            a {
                background: url('/app/themes/playright/front/img/PlayNow-slots-table-button.png') no-repeat;
                width: 128px;
                height: 48px;
                margin-bottom: 5px;
            }
        }
    }
    .features ul {
        margin: 0 auto;
        padding: 20px 8px;
        font-weight: 300;
        font-size: 14px;
        li {
            list-style-type: none;
            text-align: left;
            margin-left: 2.3em;
            line-height: 2em;
            &:before {
                content: "\e93c";
                font-family: icomoon;
                display: inline-block;
                margin-left: -1.3em;
                width: 1.3em;
                color: #5ecf5d;
            }
        }
    }
}
.boxing-table {
    &>div {
        margin-bottom: 20px;
    }
    .col-md-6 {
        margin-bottom: 10px;
    }
    .img-wrapper {
        margin-bottom: 15px;
        height: 130px;
        width: 138px;
        float: left;
        display: flex;
        background: #fff;
        margin-right: 20px;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(163,161,163,1);
        -moz-box-shadow: 0px 0px 10px 0px rgba(163,161,163,1);
        box-shadow: 0px 0px 10px 0px rgba(163,161,163,1);
        img {
            margin: auto;
            width: inherit;
        }
    }
    h4 {
        text-align: left;
        color: #4979b8;
        font-weight: 600;
        margin-top: 0;
    }
}
h4.table-title {
    font-size: 34px;
    font-weight: 300;
    padding-bottom: 20px;
}