.author {
	margin: 80px 0 20px 0;
	@include mobile-landscape {
		margin-top: 10px;
	}
	.author-pic {
		margin: 0 auto;
		width: 96px;
		height: 96px;
		border-radius: 50%;
	}
	.author-wrapper {
		.name {
			display: block;
			font-size: 1.8em;
			font-weight: 900;
		}

		.description {
			font-size: 1.14em;
			display: block;
			width: 70%;
			margin: 10px auto;
		}
	}
	i {
		color: #efefef;
		font-size: 3em;
		transform: rotate(180deg);
		display: inline-block;
	}

}