.exclusive-bonus-form {
	h2 {
		padding-bottom: 12px;
	}
	p {
		    margin: 0 0 10px;
	}
	form {
		.form-group {
			display: inline-block;
		    width: 33.3%;
		    margin: 0 3px 15px;
		    vertical-align: top;
		    @include mobile-landscape {
		        width: 80%
		    }
		}
		input.form-control {
			min-height: 56px;
		    background: #f4f4f4;
		    border: none;
		    outline: none;
		    box-shadow: none;
		    padding-left: 20px;
		    font-weight: 400;
		    line-height: 25px;
		}
		.text-error {
			color: #d83030;
    		font-weight: 300;
    		text-align: left;
		}
		.default-button {
			margin: 0;
			padding: 18px 20px;
			&:hover {
				-webkit-animation: thumb 1s linear 1;
			    -moz-animation: thumb 1s linear 1;
			    -ms-animation: thumb 1s linear 1;
			    -o-animation: thumb 1s linear 1;
			    animation: thumb 1s linear 1;
			}
			@include mobile-portrait {
		        padding: 12px 20px;
		        margin-bottom: 10px;
		        font-size: 14px;
		    }
		     @include mobile-landscape {
		        margin-bottom: 10px;
		        font-size: 14px;
		    }
		}
		.terms {
			margin-top: 0px;
		    padding: 0 20px;
		    margin-bottom: 22px;
		    font-size: 1.1em;
		    @include mobile-landscape {
		        padding: 0 10px;
		    }
		    @include tablet-portrait {
		    	padding: 0 15px;
		    }
		    @media (min-width: $screen-lg) {
		        padding: 0 0 0 50px;
		    }
		}
		.checkbox-custom {
        z-index: 2;
        width: 20px;
        height: 20px;
        display: inline-block;
        position: absolute;
        opacity: 0;
        &:checked + label:before {
        	content: "\e93c";
        	font-family: 'icomoon';
        	color: #5ecf5d;
        }
      }
      label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 100;
        vertical-align: middle;
        font-size: 0.9em;
        font-weight: 400;

        &:before {
          content: '';
          background: #f4f4f4;
          border: 2px solid #f4f4f4;
          vertical-align: middle;
          width: 22px;
          height: 22px;
          margin-right: 9px;
          display: inline-block;
          cursor: pointer;
          text-align: center;
          font-size: 0.8em;
        }
      }
	}
}