.bonus-light-card {
	border-radius: 5px;
	overflow: hidden;
	background: white;
	padding: 23px 15px 15px 30px;
	-webkit-box-shadow: 0px 9px 29px -1px rgba(0, 0, 0, 0.26);
	-moz-box-shadow: 0px 9px 29px -1px rgba(0, 0, 0, 0.26);
	box-shadow: 0px 9px 29px -1px rgba(0, 0, 0, 0.26);
	@include mobile-landscape {
		padding: 10px;
	}
	.wrapper{
		display: table;
		width: 95%;
		margin: 0 auto;
	}
	.text{
		display: table-cell;
		vertical-align: middle;
		font-size: 24pt;
		width: 60%;
		padding-top: 5px;
		p {
			display: inline-block;
		}
		@include tablet-portrait {
			width: 100%;
			display: block;
			text-align: center;
		}
		@include mobile-landscape {
			width: 100%;
			display: block;
			text-align: center;
		}
	}
	.button {
		display: table-cell;
		vertical-align: middle;
		width: 40%;
		text-align: left;
		a{
			background-image: url(/app/themes/playright/front/img/button-get-bonus.jpg);
			display: inline-block;
			height: 75px;
			width: 290px;
			background-size: cover;
		}
		@include tablet-portrait {
			width: 100%;
			display: block;
			text-align: center;
		}
		@include mobile-landscape {
			width: 100%;
			display: block;
			text-align: center;
		}
	}
}
