.brand-arrows {
	font-weight:bold;
	font-size: 1em;
	& .previous-brand{
		color: #acacac;
		&  p{
			margin:22px;
			display:inline-block;
			@include mobile-landscape {
				margin: 10px 11px 10px 12px;
			}
		}
		& i{
			display:inline-block;
			transform:scale(-2.2) scaleX(-1);
			-webkit-transform: scale(-2.2) scaleX(-1); /* Safari */
			-ms-transform: scale(-2.2) scaleX(-1);
			-o-transform: scale(-2.2) scaleX(-1);
		}
		margin-right: 13%;
	}
	.previous-brand:hover, .next-brand:hover{
		color: #fc0;
		text-decoration:none;
	}
	& .next-brand{
		color: #acacac;
		& p{
			margin:22px;
			display:inline-block;
			@include mobile-landscape {
				margin: 10px 13px 10px 22px;
			}
		}
		& i{
			display:inline-block;
			transform:scale(-2.2);
			-webkit-transform: scale(-2.2); /* Safari */
			-ms-transform: scale(-2.2);
			-o-transform: scale(-2.2) scaleX(-1);
		}
	}
	@include mobile-landscape {
		margin-top: 10px;
		p, i {
			font-size: 0.9em;
		}
		.previous-brand{
			margin-right: 0;
		}
	}
}
