.certificates {
	display: inline-block;
	float: right;
	margin-top: 25px;
	span {
		padding-right: 5px;
	}
	i {
		margin-right: 5px;
	}

	.icon-uk-licensed {
		color: #f8d56d;
	}

	.icon-expertly-reviewed {
		color: #54a026;
	}

	.icon-mobile-site {
		color: #ff7007;
	}
}