.comment-box {
	text-align: center;
	margin-top: 0px;

	.rating {
		@include mobile-landscape {
			display: block;
			margin-bottom: 10px;
		}
		li {
			@include mobile-landscape {
				display: inline-block;
			}
		}
		.stars {
			padding-left: 4px;
			font-size: 25px;
			margin-top: 25px;
			@include mobile-landscape {
				margin-top: 5px;
				padding-left: 0;
			}
		}
	}
	form.form {
		margin-bottom: 100px;
		.thanks-success,
		.thanks-fail {
			margin-top:60px;
			margin-bottom: 60px;
		}
		.thanks-fail {
			color: red;
		}
		.thanks-success {
			color: #3c763d;
		}

		.form-group {
			.text-error {
				text-align: left;
				vertical-align: middle;
				color: red;
				font-size: 14px;
				margin-bottom: 10px;

				&.comment-author-error,
				&.comment-email-error {
					margin-top: 15px;
					margin-bottom: 0;
					@include mobile-landscape {
						margin-top: 10px;
					}
				}
				@include mobile-landscape {
					margin-bottom: 0;
				}
			}

			.rating-section{
				@media (max-width:992px){
					margin-left:0;
				}
				@include mobile-landscape {
					padding-left: 5px;
				}
			}
		}

		.form-control {
			&:focus {
				box-shadow: none;
				border: 1px solid #ccc;
			}
		}
		.pull-left {
			margin: 6px 5px 0 0;
		}
		.char-count {
			text-align: left;
		}
		.checkbox {
			label {
				display: inline-block;
				max-width: 100%;
				margin-bottom: 5px;
				font-weight: 100;
				vertical-align: middle;
				font-size: 0.9em;
				font-weight: 400;
				padding-left: 0px;
				margin-left: 27px;

				&:before {
					content: '';
					background: #f4f4f4;
					border: 2px solid #f4f4f4;
					vertical-align: middle;
					width: 22px;
					height: 22px;
					margin-left: -30px;
					display: inline-block;
					cursor: pointer;
					text-align: center;
					font-size: 1.1em;
					position: absolute;
				}
			}
			.checkbox-custom {
				z-index: 2;
				width: 20px;
				min-height: 20px;
				display: block;
				position: absolute;
				opacity: 0;
				margin-left: 3px;
				margin-top: -2px;
				&:checked + label:before {
					content: "\e935";
					font-family: 'icomoon';
					color: #5ecf5d;
				}
			}
		}
		input {
			min-height: 45px;
		}
		.default-button {
			margin: 0 0 0 25px;
			&:hover {
				color: #724e0e;
			}
		}
		textarea {
			padding-right: 15%;
			resize: none;
			margin-bottom: 10px;
			min-height: 120px;
		}
		.prompt-like span.review-question, .prompt-dislike span.review-question {
			& strong {
				font-size: 1.5em;
				font-weight: 900;
				@include mobile-portrait {
					font-size: 1.35em;
				}
			}
			position: absolute;
			z-index: 10;
			left: 5%;
			bottom: 40%;
			@include mobile-portrait {
				width:74%;
				bottom: 40%;
				text-align: left;
				padding-left: 10px;
			}
			br {
				display: none;
				@include mobile-portrait {
					display: block;
				}
			}
		}
		.prompt-like, .prompt-dislike {
			div.review-button {
				-webkit-box-shadow: 0px 0px 34px 7px rgba(0, 0, 0, 0.19);
				-moz-box-shadow: 0px 0px 34px 7px rgba(0, 0, 0, 0.19);
				box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.19);
				width: 67px;
				height: 67px;
				border: 0;
				border-radius: 5px;
				position: absolute;
				right: 7%;
				top: 20%;
				z-index: 10;
				@include mobile-portrait {
					width: 45px;
					height: 45px;
					background-size: cover;
				}
				&.review-button.plus {
					background: url('/app/themes/playright/front/img/plus.png');
					@include mobile-portrait {
						background-size: cover;
					}
				}
				&.review-button.minus {
					background: url(/app/themes/playright/front/img/minus.png);
					@include mobile-portrait {
						background-size: cover;
					}
				}
			}
		}
	}
	.comment-box-rating {
		& > ul {
			font-family: icomoon;
			border: none;
			margin-left: 8px;
			display: inline-block;
			direction: rtl;
			list-style: none;
			font-size: 11px;
			@include mobile-landscape {
				margin-left: 0px;
				width: 100%;
				text-align: left;
			}
		}

		& > ul li {
			display: inline-block;
			width: 20px;
			color: #ddd;
		}

		& > ul li:before {
			content: "\e953";
			margin: 5px;
			font-size: 1.2em;
		}

		& > ul li:hover ~ li, ul li:hover, li.active, ul li.active ~ li {
			color: #FFD700;
		}

	}

	.comment-box-rating {
		color: #fc0;
		.is-active {
			color: #FFD700;
			& > label {
				color: #FFD700;
			}
		}
	}
}

.comment-form {
	form {
		margin-bottom: 100px;
		margin-top: 50px;
		.form-group {
			@include mobile-landscape {
				margin-bottom: 3px;
			}
		}
		.form-control {
			&-feedback{
				left: 15px;
				line-height: 45px;
				color: lightgray;
			}

			&:focus {
				box-shadow: none;
				border: 1px solid #ccc;
			}
		}
		input, textarea {
			min-height: 45px;
			padding-left: 30px;
			color: black;
			font-weight: 300;
			@include tablet-portrait {
				margin-bottom: 10px;
			}
			@include mobile-landscape {
				margin-bottom: 10px;
			}
		}
		textarea {
			padding-right: 15%;
			resize: none;
			margin-bottom: 10px;
			min-height: 120px;
			line-height:30px;
		}
		.default-button {
			margin: 0;
			float: right;
			@include mobile-landscape {
				float: none;
				margin: 0 auto;
				display: block;
			}
			&:hover {
				color: #724e0e;
			}
		}

		.error {
			color: #d83030;

		}
		.checkbox {

			span {
				line-height: 30px;
				margin-left: 30px;

			}
			input[type="checkbox"] {
				min-height: 0;
				margin-left: 0px;

				&:before {
					background: #eee;
					height: 20px;
					width: 20px;
					content: '';
					display: block;
				}
				&:checked:before {
					content: '\e93c';
					color: green;
					font-family: icomoon;
					text-indent: 3px;
				}

			}

			label {
				display: inline-block;
				max-width: 100%;
				margin-bottom: 5px;
				vertical-align: middle;
				font-size: 0.9em;
				font-weight: 400;
				padding-left: 0px;
				margin-left: 27px;
				color: white;

				&:before {
					content: '';
					background: #f4f4f4;
					border: 2px solid #f4f4f4;
					vertical-align: middle;
					width: 22px;
					height: 22px;
					margin-left: -30px;
					display: inline-block;
					cursor: pointer;
					text-align: center;
					font-size: 1.1em;
					position: absolute;
				}
			}
			.checkbox-custom {
				z-index: 2;
				width: 20px;
				min-height: 20px;
				display: block;
				position: absolute;
				opacity: 0;
				margin-left: 3px;
				margin-top: -2px;
				&:checked + label:before {
					content: "\e935";
					font-family: 'icomoon';
					color: green;
				}
			}
		}
		.form-control-feedback {
			position: absolute;
			top: 0;
			right: 0;
			z-index: 2;
			display: block;
			width: 34px;
			height: 34px;
			line-height: 34px;
			text-align: center;
			pointer-events: none;
		}
	}
}