.disclosure {
	float: right;
	margin-top: 25px;
	margin-left: 20px;
	text-decoration: underline;
	position: relative;
	.disclosure-text {
		display: none;

		position: absolute;
		z-index: 999;
		width: 400px;
		border-radius: 5px;
		background-color: #fff;
		bottom: 130%;
		right: -82%;
		font-size: 0.8em;
		padding: 10px;
		color: rgba(141,141,141,1);
		line-height: 1.5;
		-webkit-box-shadow: -1px 3px 35px -5px rgba(0,0,0,0.75);
		-moz-box-shadow: -1px 3px 35px -5px rgba(0,0,0,0.75);
		box-shadow: -1px 3px 35px -5px rgba(0,0,0,0.75);
		-webkit-animation: zoomOut 0.3s linear 1;
		-moz-animation: zoomOut 0.3s ease-out 1;
		-ms-animation: zoomOut 0.5s ease-out 1;
		-o-animation: zoomOut 0.5s ease-out 1;
		animation: zoomOut 0.3s ease-out 1;
		&:after {
			content: "";
			position: absolute;
			top: 100%;
			right:48%;
			margin-left: -5px;
			border-width: 5px;
			border-style: solid;
			border-color: white transparent transparent transparent;
		}
	}

	&:hover {
		.disclosure-text {
			display: block;
			-webkit-animation: zoomIn 0.3s linear 1;
			-moz-animation: zoomIn 0.3s ease-out 1;
			-ms-animation: zoomIn 0.5s ease-out 1;
			-o-animation: zoomIn 0.5s ease-out 1;
			animation: zoomIn 0.3s ease-out 1;
		}
	}
}

.disclosure-mobile {
	display: block;
	text-align: right;
	color: #595959;
	font-size: 0.7em;
	text-decoration: underline;
	margin: 5px -10px 5px 0;
}