.dl-betting {
  border-spacing: 0 5px;
  margin-bottom: 5px;
  .headers {
    height: 40px;
  }
  .table-row {
    &:hover {
      .cell {
        &.bonus {
         .content p{
            font-size: 19px;
            margin-top: -7px;
          }
        }
        .get-bonus-button {
          width: 155px;
        }
      }
    }

  }
  .table-row .cell {
    &.logo {
      border: 0;
      width: 197px;
      @include tablet-landscape {
        width: 204px;
      }
      @include tablet-portrait {
        width: 23.77%;
      }
    }
    &.bonus {
      position: relative;
      width: 390px;
      @include tablet-landscape {
        width: 250px;
      }
      .content {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 21%;
        p {
          text-align: center;
          margin-bottom: 0;
          font-size: 16px;
          line-height: 1;
          -webkit-transition: all 0.1s;
          transition: all 0.1s;
          strong {
            font-size: 1.2em;
            font-weight: 600;
          }
        }
      }
      @include tablet-landscape {
        width: 250px;
      }
      @include tablet-portrait {
        width: inherit;
      }
    }
    &.deposit {
      width: 140px;
      .min-deposit {
        font-size: 1.1em;
      }
    }
    &.rating {
      width: 164px;
      line-height: 1;
      .score {
        font-size: 15px;
        position: relative;
        height: 20px;
      }
      .score-stars {
        .rate-it {
          font-size: 21px;
          .tp-rating {
            li {
              i {
                font-size: 16px;
              }
            }
          }
        }
        span {
          font-size: 13px;
        }
      }
      @include tablet-landscape {
        width: 150px;
      }
      @include tablet-portrait {
        width: 18.02%;
      }
    }
    &.features {
      width: 177px;
      font-size: 29px;
      font-weight: 500;
      padding-bottom: 6px;
      line-height: 0.8;
      .review-link {
        font-size: 12px;
        text-decoration: underline;
        color: #222;
      }
      @include tablet-landscape {
        width: 98px;
      }
      @include tablet-portrait {
        width: 98px;
      }
    }
    &.get-bonus {
      width: 190px;
      position: relative;
      .visit-site {
        font-size: 12px;
        text-decoration: underline;
        margin-top: 33%;
        @include tablet-portrait {
          margin-top: 41%;
        }
        @include tablet-landscape {
          margin-top: 41%;
        }
      }
      @include tablet-landscape {
        width: 154px;
      }
      @include tablet-portrait {
        width: 23.94%;
      }
    }
  }
  .funfun-dynamiclist-wrapper {
    display: table;
    width: 100%;
    .table-row {
      display: table-row;
    }
  }
  .headers-wrapper {
    display: table;
    position: relative;
    border-collapse: separate;
    text-align: center;
    z-index: 10;
    color: #222;
    clear: both;
    width: 100%;
    max-width: 100%;
    border-spacing: 0 0px;
    overflow-x: auto;
    min-height: .01%;

    .headers {
      .cell {
        &.logo {
          border: 0;
          width: 197px;
          @include tablet-landscape {
            width: 204px;
          }
          @include tablet-portrait {
            width: 23.77%;
          }
        }
        &.bonus {
          width: 390px;
          @include tablet-landscape {
            width: 250px;
          }

          @include tablet-landscape {
            width: 250px;
          }
          @include tablet-portrait {
            width: inherit;
          }
        }
        &.deposit {
          width: 140px;
        }
        &.rating {
          width: 164px;
          @include tablet-landscape {
            width: 150px;
          }
          @include tablet-portrait {
            width: 18.02%;
          }
        }
        &.features {
          width: 177px;
          @include tablet-landscape {
            width: 98px;
          }
          @include tablet-portrait {
            width: 98px;
          }
        }
        &.get-bonus {
          width: 190px;
          position: relative;
          @include tablet-landscape {
            width: 154px;
          }
          @include tablet-portrait {
            width: 23.94%;
          }
        }
      }
    }
    }
  }