.dl-casino {
  border-spacing: 0 5px;
  margin-bottom: 5px;
  .headers {
    height: 40px;
  }
  .table-row {
    &:hover {
      .cell {
        &.bonus {
         .content p{
            font-size: 19px;
            margin-top: -7px;
          }
        }
        .get-bonus-button {
          width: 155px;
          font-size: 1em;
          @include tablet-landscape {
            width: 134px !important;
          }
        }
      }
    }

  }
  .table-row .cell {
    &.logo {
      border: 0;
      width: 197px;
      @include tablet-landscape {
        width: 184px;
      }
      @include tablet-portrait {
        width: 23.77%;
      }
    }
    &.bonus {
      position: relative;
      width: 390px;
      @include tablet-landscape {
        width: 252px;
      }
      .content {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 21%;
        p {
          text-align: center;
          margin-bottom: 0;
          font-size: 16px;
          line-height: 1;
          -webkit-transition: all 0.1s;
          transition: all 0.1s;
          strong {
            font-size: 1.2em;
            font-weight: 600;
          }
        }
      }
      @include tablet-landscape {
        width: 250px;
      }
      @include tablet-portrait {
        width: inherit;
      }
    }
    &.features {
      font-size: 29px;
      font-weight: 500;
      padding-bottom: 6px;
      width: 177px;
      ul {
        width: 90%;
        margin: 0 auto;
        padding: 0;
        li {
          list-style-type: none;
          display: inline-block;
          color: #6b6b6b;
          margin: 2px 0 2px;
          width: 30px;
          padding: 0 4px;
          font-size: 0.7em;
          background-color: #f4f4f4;
          border: 1px solid #d3d3d3;
          line-height: 1.42;
          position: relative;
          i {
            color: black;
            line-height: inherit;
          }
          &:hover {
            span.hover-tooltip {
              display: block;
              z-index: 5000;
            }
          }
        }
        span.hover-tooltip {
          display: none;
          position: absolute;
          background-color: black;
          color: #fff;
          width: 150px;
          font-size: 16px;
          text-align: center;
          border-radius: 6px;
          padding: 5px;
          z-index: 1;
          bottom: 150%;
          left: 50%;
          margin-left: -78px;
          &:after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: black transparent transparent transparent;
          }
        }
      }
      @include tablet-landscape {
        width: 148px;
      }
    }
    &.rating {
      width: 164px;
      line-height: 1;
      .score {
        font-size: 15px;
        position: relative;
        height: 20px;
      }
      .score-stars {
        .rate-it {
          font-size: 21px;
          .tp-rating {
            li {
              i {
                font-size: 16px;
              }
            }
          }
        }
        span {
          font-size: 13px;
        }
      }
      @include tablet-landscape {
        width: 122px;
      }
      @include tablet-portrait {
        width: 18.02%;
      }
    }
    &.features {
      width: 177px;
      font-size: 29px;
      font-weight: 500;
      padding-bottom: 6px;
      line-height: 0.8;
      .review-link {
        font-size: 12px;
        text-decoration: underline;
        color: #222;
      }
      @include tablet-landscape {
        width: 148px;
      }
      @include tablet-portrait {
        width: 98px;
      }
    }
    &.get-bonus {
      width: 190px;
      position: relative;
      a.get-bonus-button {
        color: #fff;
        @include tablet-landscape {
          width: 124px
        }
        @include tablet-portrait {
          top: 10%;
        }
      }
      .visit-site {
        font-size: 12px;
        text-decoration: underline;
        margin-top: 37%;
        @include tablet-portrait {
          margin-top: 41%;
        }
        @include tablet-landscape {
          margin-top: 41%;
        }
      }
      @include tablet-landscape {
        width: 154px;
      }
      @include tablet-portrait {
        width: 23.94%;
      }
    }
  }
  .funfun-dynamiclist-wrapper {
    display: table;
    width: 100%;
    .table-row {
      display: table-row;
    }
  }
  .headers-wrapper {
    display: table;
    position: relative;
    border-collapse: separate;
    text-align: center;
    z-index: 10;
    color: #222;
    clear: both;
    width: 100%;
    max-width: 100%;
    border-spacing: 0 0px;
    overflow-x: auto;
    min-height: .01%;

    .headers {
      .cell {
        &.logo {
          border: 0;
          width: 179px;
          @include tablet-landscape {
            width: 161px;
          }
          @include tablet-portrait {
            width: 23.77%;
          }
        }
        &.bonus {
          width: 372px;
          @include tablet-landscape {
            width: 220px;
          }
          @include tablet-portrait {
            width: inherit;
          }
        }
        &.deposit {
          width: 173px;
          @include tablet-landscape {
            width: 119px;
          }
        }
        &.rating {
          width: 164px;
          @include tablet-landscape {
            width: 120px;
          }
          @include tablet-portrait {
            width: 18.02%;
          }
        }
        &.features {
          width: 177px;
          @include tablet-landscape {
            width: 120px;
          }
          @include tablet-portrait {
            width: 98px;
          }
        }
        &.get-bonus {
          width: 190px;
          position: relative;
          @include tablet-landscape {
            width: 140px;
          }
          @include tablet-portrait {
            width: 23.94%;
          }
        }
      }
    }
    }
  }

.mobile-casino {
  .archive-wrapper {
    .background-green {
      background-image: url(http://s3-eu-west-1.amazonaws.com/prwp/app/uploads/20180116085400/GetBonus-Button-Retina.jpg);
      height: auto;
      background-size: cover;
      background-repeat: no-repeat;
      width: 80%;
      position: absolute;
      bottom: 5px;
      left: 12%;
      color: #fff;
      font-size: 1.1em;
      margin-bottom: 7px;
      padding: 4px 0 5px;
      border-radius: 20px;
      max-width: 158px;
      font-weight: 100;
      strong {
        font-weight: 500;
      }
    }
  }
}