.dl-filter {
	margin-top: 20px;
	float:left;
	::-webkit-scrollbar {
		width: 40px;
	}

	::-webkit-scrollbar-thumb {
		background-color: white;
		-webkit-border-radius: 12px;
		-moz-border-radius: 12px;
		border-radius: 15px;
		border-right: 15px solid transparent;
		background-clip: padding-box;
		border-bottom: 20px solid transparent;
		border-top: 20px solid transparent;
		border-left: 15px solid transparent;
		min-height: 45px;
	}

	::-webkit-scrollbar-track {
		background: #222;
		border: 11px solid transparent;
		background-clip: padding-box;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
	}
	.sort-filter {
		display: inline-block;
		vertical-align: middle;
		text-align: left;
		.dropdown-toggle {
			cursor: auto;
			float: right;
			border: 1px solid rgba(162, 162, 162, 0.25);
			width: 150px;
			position: static;
			background-color: #fff;
			margin-right: 10px;
			&:hover .arrow {
				background-color: #f5c22a;
				color: #fff;
			}
			&:first-child {
				margin: 0;
			}
			.title {
				color: #646464;
				display: inline-block;
				padding: 5px 10px;
			}
			.arrow {
				display: inline-block;
				border-left: 1px solid rgba(162, 162, 162, 0.3);
				float: right;
				color: #f5c22a;
				padding: 6px 10px;
				&:hover {
					color: #fff;
				}
				.caret {
					display: inline-block;
					width: 0;
					height: 0;
					margin-left: 2px;
					vertical-align: middle;
					border-top: 4px dashed;
					border-right: 4px solid transparent;
					border-left: 4px solid transparent;
				}
			}
			&:hover {
				.dropdown-wrapper {
					visibility: visible;
					opacity: 1;

					&:hover .arrow {
						color: #fff;
					}
				}
			}

			.dropdown-wrapper {
				padding-top: 5px;
				position: absolute;
				z-index: 999;
				right: auto;
				left: 174px;
				visibility: hidden;
				opacity: 0;
				transition: visibility 0s, opacity 0.4s;
			}
		}
		.dropdown {
			border: 1px solid #ccc;
			background: #fff;
			border-radius: 5px 5px 5px 5px;
			-moz-border-radius: 5px 5px 5px 5px;
			-webkit-border-radius: 5px 5px 5px 5px;
			overflow-y: auto;
			max-height: 200px;
			ul {
				margin: 0;
				padding: 15px;
				list-style: none;
				cursor: pointer;
				li {
					.group-title {
						font-weight: bold;
						min-width: 250px;

					}
					ul {
						padding: 5px;
						cursor: pointer;
						li {
							border-bottom: 1px solid #ccc;
							padding: 5px 0;
							white-space: nowrap;
							i {
								color: #f5c22a;
							}
							&:hover {
								background-color: #f5c22a;
								i {
									color: #fff;
								}
							}
							&.active {
								background-color: #f5c22a;

								i {
									color: #fff;
									&:before {
										content: "\e931";
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.open-sort {
		.dropdown-wrapper {
			left: 12px !important;
		}
	}
	.sort-filters {
		float: left;
		& > .dropdown {
			float: left;
		}
		button {
			color: #646464;
			display: inline-block;
			padding: 0 0 0 10px;
			width: 150px;
			margin-right: 10px;
			text-align: left;
			font-size: 1em;
			background: transparent;
			border: 1px solid rgba(162,162,162,0.25);
			span:first-child {
				padding: 5px;
				border-right: 1px solid rgba(162,162,162,0.25);
				display: inline-block;
				width: 112px;
			}
			.caret {
				position: absolute;
				right: 20px;
				top: 15px;
			}
		}
		.dropdown-menu {
			width: 250px;
			border: 1px solid #ccc;
			background: #fff;
			border-radius: 5px 5px 5px 5px;
			-moz-border-radius: 5px 5px 5px 5px;
			-webkit-border-radius: 5px 5px 5px 5px;
			overflow-y: auto;
			max-height: 200px;
			padding: 15px;
			list-style: none;
		}
		.filter-name {
			font-weight: 600;
			padding-bottom: 5px;
		}
	}
}
.selected-filters {
	.filter {
		margin: 10px 10px 0 0;
		float: left;
		background: #f5f5f5;
		border: 1px solid #ccc;
		padding: 5px 10px;
		font-size: 0.9em;
		position: relative;
	}
	.remove {
		padding: 3px;
		color: #fff;
		background: #ff1e00;
		border-radius: 100%;
		font-size: 7px;
		line-height: 7px;
		position: absolute;
		top: -7px;
		right: -7px;
	}
	.icon-no:before {
		content: "\e936";
		color: #fff;
	}
}
