.dl-mobile-shadow-effect {
	.bonus-txt {
		display: flex;
		justify-content: center;
		height: 90px;
		align-items: center;
	}
	.effect2 {
		box-shadow: 0 0 7px #f3f3f3;
		-webkit-box-shadow: 0 0 7px #f3f3f3;
		-moz-box-shadow: 0 0 7px #f3f3f3;
		position: relative;
		margin: 0 -15px;
	}
	.effect2:before, .effect2:after
	{
		z-index: -1;
		position: absolute;
		content: "";
		bottom: 15px;
		left: 4px;
		width: 50%;
		top: 80%;
		max-width:300px;
		background: #777;
		-webkit-box-shadow: 0 15px 10px #777;
		-moz-box-shadow: 0 15px 10px #777;
		box-shadow: 0 15px 10px #777;
		-webkit-transform: rotate(-3deg);
		-moz-transform: rotate(-3deg);
		-o-transform: rotate(-3deg);
		-ms-transform: rotate(-3deg);
		transform: rotate(-3deg);
	}
	.effect2:after
	{
		-webkit-transform: rotate(3deg);
		-moz-transform: rotate(3deg);
		-o-transform: rotate(3deg);
		-ms-transform: rotate(3deg);
		transform: rotate(3deg);
		right: 4px;
		left: auto;
	}
	.get-bonus-button {
		display: block;
		width: -webkit-fill-available;
		height: 43px;
		background-size: cover;
		background-image: url()
	}
	.archive-wrapper {
		padding: 0;
		border-radius:0;
		text-align: center;
		background: #eee;
		height: 139px;
		margin-bottom: 15px;
		.arrow-bg {
			background: #fff;
			height: -webkit-fill-available;
			position: relative;
			p {
				font-size: 15px;
				margin: auto;
			}
		}
		.triangle {
			width: 0;
			height: -webkit-fill-available;
			border-top: 70px solid transparent;
			border-bottom: 70px solid transparent;
			border-left: 13px solid #eee;
			float: left;
			position: absolute;
			left: 0;
		}
		img {
			margin: 10px auto;
		}
		a {
			color: #222;
		}
		p {
			text-align: center;
		}
		.get-bonus-button {
			height: 50px;
			width: 80%;
			position: absolute;
			bottom: 5px;
			top: auto;
			background: url(/app/themes/playright/front/img/Bet-Now-Button-mobile.png) center no-repeat;
			margin: 0 auto;
		}
		hr {
			margin-top: 10px;
			margin-bottom: 10px;

		}
		.stars {
			font-size: 1.4em;
			display: inline-block;
			vertical-align: text-bottom;
		}
		.score-row {
			font-size: 0.8em;
			span {
				&:first-child {
					color: #777;
					vertical-align: bottom;
				}
			}
		}
		.score {
			display: inline-block;
			padding: 0px 4px;
			background: none;
			font-weight: 600;
			margin-left: 0;
			line-height: 1em;
			font-size: 1.5em;
			margin-top: 5px;
			vertical-align: baseline;
		}
		.review-link {
			color: #222;
			font-size: 14px;
			display: block;
		}
		.default-button {
			margin-top: 0;
		}
		@include mobile-portrait {
			padding: 0;
			p {
				margin: 0 0;
			}
			.get-bonus-button {
				margin-top: 0px;
			}
			.stars {
				font-size: 1.14em;
			}
			.review-link {
				font-size: 1.14em;
			}
			.rate-it {
				margin-top: 9px;
			}
			.margin-mobile {
				margin-top: 7px;
			}
		}
	}
}