.dynamic-list-hp {
  margin-bottom: 100px;
  .wrapper {
    padding: 15px 15px 0 15px;
    box-shadow: 0 0 15px #c3bfbf;
    -webkit-box-shadow: 0 0 15px #c3bfbf;
    -moz-box-shadow: 0 0 15px #c3bfbf;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  h3{
    font-weight: 600;
    letter-spacing: 5px;
    font-size: 25px;
  }
  .casino {
    color: #ebbf39;
  }
  .betting {
    color: #48a044;
  }
  .bingo {
    color: #8c6c9d;
  }
  .default-button.green-bg {
    margin-top: 10px;
    padding: 12px 10px;
    font-size: 1em;
    @include mobile-landscape {
      min-width: 130px;
      margin-top: 5px;
      padding: 12px 36px;
    }
    @include mobile-portrait {
      font-size: 0.9em;
      min-width: 103px;
      padding: 9px 10px;
    }
  }
  .check-button {
    color: #a3a3a3;
    background-color: white;
    border: 2px solid #A3A3A4;
    padding: 10px 16px;
    font-size: 1.1em;
    display: block;
    font-weight: 700;
    width: 220px;
    &:hover {
      color: #222;
      border-color: #222;
      text-decoration: none;
    }
    &:focus {
      color: #222;
      border-color: #222;
      text-decoration: none;
    }
    &:visited {
      text-decoration: none;
    }
    @include mobile-landscape {
      font-size: 0.9em;
      width: 220px;
    }
    @include mobile-portrait {
      font-size: 0.8em;
      width: 190px;
    }
  }
  .top-wrapper {
    padding-bottom: 5px;
  }
  .bottom-wrapper {
    padding-bottom: 15px;
    p{
      margin: 0px 0px;
    }
    a {
      color: #222;
      font-size: 16px;
      text-decoration: underline;
      &:hover{
        color: #222;
      }
      @include tablet-landscape {
        font-size: 16px;
        margin-top: 5px;
      }
      @include mobile-landscape {
        font-size: 16px;
        margin-top: 5px;
      }
      @include mobile-portrait {
        font-size: 13px;
      }
    }

    @include tablet-portrait {
      white-space: nowrap;
    }
  }
  .stars {
    font-size: 20px;
    @include mobile-landscape {
      font-size: 19px;
    }
    @include mobile-portrait {
      font-size: 13px;
    }
  }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .stars {
      margin-left: -5px;
      margin-right: -15px;
      font-size: 17px;
    }
  }
  @supports (-ms-ime-align:auto) {
    .stars {
      margin-left: -5px;
      margin-right: -15px;
      font-size: 17px;
    }
  }
  @supports (-ms-accelerator:auto) {
    .stars {
      margin-left: -5px;
      margin-right: -15px;
      font-size: 17px;
    }
  }
}