.dynamic-list-with-arrows {
  border-spacing: 0 5px;
  margin-bottom: 5px;
  .headers {
    height: 40px;
  }
  .white-box {
    position: absolute;
    width: 3px;
    height: 93px;
    top: 0;
    right: 6px;
    background: #fff;
  }
  .triangle {
    width: 0;
    top: 0;
    border-top: 47px solid transparent;
    border-bottom: 46px solid transparent;
    float: left;
    position: absolute;
    right: -24px;
    &.t2 {
      right: -15px;
      z-index: 999;
    }
    &.t1 {
      right: -18px;
      z-index: 99;
    }
    &.t3 {
      z-index: 9;
    }
  }
  .table-row .cell {
    &.logo {
      border: 0;
      width: 214px;
      @include tablet-landscape {
        width: 204px;
      }
      @include tablet-portrait {
        width: 23.77%;
      }
    }
    &.bonus {
      position: relative;
      width: 390px;
     p b span {
        font-size: 14pt !important;
      }
      @include tablet-landscape {
        width: 250px;
      }
      @include tablet-portrait {
        width: inherit;
      }
      .content {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 21%;
        @include tablet-portrait {
          left: 11px;
        }
        p {
          text-align: center;
          margin-bottom: 0;
          font-size: 16px;
          line-height: 1;
          -webkit-transition: all 0.1s;
          transition: all 0.1s;
          strong {
            font-size: 1.2em;
            font-weight: 600;
          }
        }
      }
      @include tablet-landscape {
        width: 250px;
      }
      @include tablet-portrait {
        width: inherit;
      }
    }
    &.rating {
      width: 164px;
      line-height: 1;
      .score {
        font-size: 15px;
        position: relative;
        height: 20px;
      }
      .score-stars {
        .rate-it {
          font-size: 21px;
          .tp-rating {
            li {
              i {
                font-size: 16px;
              }
            }
          }
        }
        span {
          font-size: 13px;
        }
      }
      @include tablet-landscape {
        width: 150px;
      }
      @include tablet-portrait {
        width: 18.02%;
      }
    }
    &.features {
      width: 177px;
      font-size: 29px;
      font-weight: 500;
      padding-bottom: 6px;
      line-height: 0.8;
      .review-link {
        font-size: 12px;
        text-decoration: underline;
        color: #222;
      }
      @include tablet-landscape {
        width: 98px;
      }
      @include tablet-portrait {
        width: 98px;
      }
    }
    &.get-bonus {
      width: 190px;
      position: relative;
      .visit-site {
        font-size: 12px;
        text-decoration: underline;
        margin-top: 33%;
        @include tablet-portrait {
          margin-top: 37%;
        }
        @include tablet-landscape {
          margin-top: 38%;
        }
      }
      @include tablet-landscape {
        width: 154px;
      }
      @include tablet-portrait {
        width: 23.94%;
      }
      .get-bonus-button {
        height: 40px;
        width: 126px;
        background-image: url(http://s3-eu-west-1.amazonaws.com/prwp/app/uploads/20180110103621/GetBonus-Button-Retina.jpg);
        background-size: cover;
        -webkit-transition: all 0.1s;
        transition: all 0.1s;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 9%;
        font-weight: 100;
        padding-top: 8px;
        color: #fff;
        font-size: 0.9em;
        &:hover {
          box-shadow: inset 0px 0px 50px 20px rgba(33,214,55,0.42), 0px 0px 25px 5px rgba(6,166,18,0.5);
          text-decoration: none;
        }
        strong {
          font-size: 1em;
          font-weight: 500;
        }
      }
    }
  }
  .funfun-dynamiclist-wrapper {
    display: table;
    width: 100%;
    .table-row {
      display: table-row;
    }
  }
  .headers-wrapper {
    display: table;
    position: relative;
    border-collapse: separate;
    text-align: center;
    z-index: 10;
    color: #222;
    clear: both;
    width: 100%;
    max-width: 100%;
    border-spacing: 0 0px;
    overflow-x: auto;
    min-height: .01%;

    .headers {
      .cell {
        &.logo {
          border: 0;
          width: 197px;
          @include tablet-landscape {
            width: 204px;
          }
          @include tablet-portrait {
            width: 23.77%;
          }
        }
        &.bonus {
          width: 390px;
          @include tablet-landscape {
            width: 250px;
          }

          @include tablet-landscape {
            width: 250px;
          }
          @include tablet-portrait {
            width: inherit;
          }
        }
        &.deposit {
          width: 140px;
        }
        &.rating {
          width: 164px;
          @include tablet-landscape {
            width: 150px;
          }
          @include tablet-portrait {
            width: 18.02%;
          }
        }
        &.features {
          width: 177px;
          @include tablet-landscape {
            width: 98px;
          }
          @include tablet-portrait {
            width: 98px;
          }
        }
        &.get-bonus {
          width: 190px;
          position: relative;
          @include tablet-landscape {
            width: 154px;
          }
          @include tablet-portrait {
            width: 23.94%;
          }
        }
      }
    }
    }
  }