footer {
	.footer-menu-contact {
		background: #292929;
    	padding: 20px 46px 20px 46px;
		z-index: 20;
		position: relative;
    	h4 {
			text-align: start;
		    font-size: 1.5em;
		    margin-bottom: 20px;
		    color: #fff;
		    &:after {
		    	width: 15px;
			    content: '';
			    margin: 15px 0 20px 0;
			    display: block;
			    border: 1px solid #acacac;
		    }
		    @include mobile-landscape {
		    	text-align: center;
		    	&:after {
					margin: 15px auto 20px auto;
		    	}
		    }
		}
		p {
			word-spacing: 0;
		    color: #fff;
		    font-weight: 300;
		    line-height: 20px;
		    font-size: 14px;
		}
	}
	ul {
		padding: 0;
		li {
			a{
				line-height: 37px;
			    color: #fff;
			    font-weight: 400;
			    &:hover {
			    	text-decoration: underline;
					color: #fff;
			    }
			}
		}

	}
	form {
		margin-bottom: 100px;
		input.form-control {
			min-height: 45px;
		    padding-left: 30px;
		    color: #000;
		    font-weight: 300;
		}
		textarea.form-control {
			padding-right: 15%;
		    resize: none;
		    margin-bottom: 10px;
		    min-height: 120px;
		    line-height: 30px;
		    padding-left: 30px;
		    color: #000;
		    font-weight: 300;

		}
		.button {
			text-align: right;
			@include mobile-landscape {
				text-align: center;
			}
		}
		.default-button {
			&:hover {
				-webkit-animation: thumb 1s linear 1;
			    -moz-animation: thumb 1s linear 1;
			    -ms-animation: thumb 1s linear 1;
			    -o-animation: thumb 1s linear 1;
			    animation: thumb 1s linear 1;
			}
		}
	}
	.footer-regulation {
		margin-top: 55px;
		margin-bottom: 20px;
		.logo-footer{
			img {
				max-height: 48px;
			    max-width: 207px;
			    width: 100%;
			    padding: 5px 8px;
			}
		}
		#disclaimer {
			line-height: 25px;
		}
	}
	.footer-additional {
		font-size: 0.9em;
		padding-bottom: 5px;
	}
	.footer-background {
		background-color: #e7e7e7;
		margin-top: -45px;
	}
}