header {
	background-color: #ffc600;
	>[class*='col-'] {
		padding: 0;
	}
	.logo {
		display: block;
		padding-top: 10px;

	}
	img {
		max-height: 48px;
	    max-width: 207px;
	    width: 100%;
	    padding: 5px 8px;
	    margin: 0 auto;
	    display: block;
	}

ul#primary-menu {
		background-color: #000;
		font-size: 1.2em;
		padding: 0;
		>li {
			display: inline-block;
			border-right: 1px solid #333333;
			padding: 21px 30px 23px;
			>a {
				color: #ffffff;
				text-decoration: none;
			}
			.sub-menu {
				display: none;
				background: #ffffff;
			    position: absolute;
			    width: 134%;
    			left: -34%;
			    top: 67px;
			    z-index: 99999;
			    padding: 30px 22%;
			    -webkit-box-shadow: 0px 11px 22px 0px rgba(0,0,0,0.25);
			    -moz-box-shadow: 0px 11px 22px 0px rgba(0,0,0,0.25);
			    box-shadow: 0px 11px 22px 0px rgba(0,0,0,0.25);
			    overflow: hidden;
			    font-size: 0.85em;
			    line-height: 23.4px;
			     @include tablet-portrait {
			    	width: 120%;
    				left: -20%;
			    }

			    >li {
			    	list-style: disc inside;
			    	padding: 10px 0;
			    	>a {
			    		color: #000;
			    		text-decoration: none;
			    		&:hover {
			    			font-weight: bold;
			    		}
			    	}
			    }
			}
			&:hover {
				>a {
					color: #ffc600;
				}
				>.sub-menu {
					display: block;
				}
			}
			&:last-child {
				border-right: 0px solid #333333;
			}
		}
	}
	.breadcrumbs {
		ul {
			padding: 0;
			margin: 3px 0 0 10px;
			padding-top: 1px;
			padding-bottom: 5px;
			li {
				display: inline-block;
				margin-right: 10px;
				a {
					font-size: .9em;
    				color: #4c3b00;
    				text-decoration: none;
				}
			}
			i {
				color: #d0a200;
			    top: 0px;
			    margin-right: 10px;
			    font-size: 0.7em;
			    font-weight: 600;
			    position: relative;
			}
		}
	}
	@include mobile-landscape {
		.logo-mobile {
			display: inline-block;
			img {
				padding: 0px;
			    height: 23px;
			    width: 156px;
			    margin: 7px 0 0 0;
			
			}
		}
		 
		.hamburger {
			height: 50px;
    		width: 50px;
    		background: url('/app/themes/playright/front/img/hamburger.png') no-repeat;
    		float: left;
		    background-size: 50px 50px;
		    background-position: -3px -7px;
		}
		
		ul#primary-menu {
			background-color: #000;
			width: 300px;
			height: 100%;
			position: absolute;
			top: 0;
			left: -300px;
			height: 100%;
			padding: 20px;
			padding-top: 0;
			>li {
				display: block;
				text-transform: uppercase;
				border: 0;
				padding: 0;
				font-size: 0.9em;
    			font-weight: 600;
    			position: relative;
				&:hover {
					.sub-menu {
						display: none;
					}
				}
    			>a {
    				border-bottom: 1px solid #333333;
    				padding: 14px 0px 14px;
    				display: block;
    				&:after {
						    content: "\e94b";
						    font-family: 'icomoon' !important;
						    speak: none;
						    font-style: normal;
						    font-weight: normal;
						    font-variant: normal;
						    text-transform: none;
						    line-height: 1;
						    -webkit-font-smoothing: antialiased;
						    -moz-osx-font-smoothing: grayscale;
						    position: absolute;
						    top: 18px;
						    font-size: 13px;
						    right: 0px;
    				}
    			}
    			.sub-menu {
    			visibility: unset;
    			display: none;
				background: none;
			    position: static;
			    width: initial;
			    padding: 0px 0 0 25px;
			    -webkit-box-shadow: none;
			    -moz-box-shadow: none;
			    box-shadow: none;
			    overflow: hidden;
			    font-size: 0.9em;
			    line-height: initial;
			    >li {
    				font-weight: normal;
			    	list-style: none;
			    	text-transform: capitalize;
			    	padding: 0;
			    	position: relative;
			    	>a {
			    		color: #fff;
			    		text-decoration: none;
			    		padding: 14px 0px 14px;
			    		border-bottom: 1px solid #333333;
			    		display: block;
			    		&:after {
						    content: "\e94b";
						    font-family: 'icomoon' !important;
						    speak: none;
						    font-style: normal;
						    font-weight: normal;
						    font-variant: normal;
						    text-transform: none;
						    line-height: 1;
						    -webkit-font-smoothing: antialiased;
						    -moz-osx-font-smoothing: grayscale;
						    position: absolute;
						    top: 18px;
						    font-size: 13px;
						    right: 0px;
						    opacity: 0.4; 
    				}
			    	}
			    }
			}
			}
			li.active {
				>a{
					color: #d0a200;
					&:after{
						-ms-transform: rotate(90deg);
						-webkit-transform: rotate(90deg);
						transform: rotate(90deg);
					}
				}
				>.sub-menu {
					visibility: unset;
					display: block;
				}
			}
		}
		
	}
}
@include mobile-landscape {
	#site-wrapper {
		position: relative;
		overflow: hidden;
		width: 100%;
background-color: #000;
	}
	#site-canvas {
		width: 100%;
		height: 100%;
		position: relative;
		background-color: #fff;
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-transition: .3s ease all;
		  transition: .3s ease all;
	}
	#site-wrapper.show-nav #site-canvas {
		-webkit-transform: translateX(300px);
		transform: translateX(300px);
	}
}
