.latest-articles {
	.read-more-wrapper {
		max-width: 360px;
		border-radius: 5px;
		box-shadow: 0px 13px 33px 3px rgba(230, 230, 230, 0.8);
		position: relative;
		margin-bottom: 23px;
	}
	//img part
	.featured-image {
		border-radius: 5px;
		height: 128px;
		background: no-repeat center center black;
		overflow: hidden;
		background-size: cover;
	}

	//content wrapper
	.inner-content-wrapper {
		padding: 10px 20px;
		h4 {
			margin: 5px 0 10px 0;
			font-size: 18px;
		}
	}

	//href read  more
	.post-more-info {
		color: black;
		bottom: 0;
		text-decoration: underline;
		padding-bottom: 20px;
		display: block;
		text-align: right;
	}

	.post-date {
		line-height: 30px;
		font-size: 0.9em;
	}

	p {
		line-height: 25px;
	}
	h4 {
		text-align: left;
		a{ color:inherit;
			text-decoration:inherit;
		}
	}
}