.main-title-with-icon {
  h1 {
    font-weight: 900;
    margin-bottom: 15px;
    font-size: 2em;
  }
  .title-sport {
    width: 90%;
  }
  img {

    margin-top: 20px;
  }
  @include tablet-landscape {
    .title-sport {
      width: 86%;
    }
  }
  @include tablet-portrait {
    .title-sport {
      width: 84%;
    }
  }
}