.mobile-brands-list {
	margin-top: 30px;
	margin-bottom: 20px;
		.archive-wrapper {
			padding: 10px 0 10px 0;
			box-shadow: 0 0 15px #c3bfbf;
			-webkit-box-shadow: 0 0 15px #c3bfbf;
			-moz-box-shadow: 0 0 15px #c3bfbf;
			border-radius:10px;
			margin-bottom: 13px;
			p {
				text-align: center;
			}
			.bonus-button {
				display: block;
				width: 155px;
				height: 147px;
				background-size: cover;
				background: url(/app/themes/playright/front/img/button-get-bonus.png) no-repeat center center;
			}
			hr {
				margin-top: 10px;
				margin-bottom: 10px;
			}
			.stars {
				font-size: 1.4em;
			}
			.review-link {
				color: #222;
				font-size: 1.14em;
			}
			.default-button {
				margin-top: 0;
			}
			@include mobile-portrait {
				.bonus-button {
					width: 115px;
					height: 113px;
				}
				.stars {
					font-size: 1.14em;
				}
			}
		}

}