.online-slot-game {
	.review-title {
		margin-top: 25px;
		&:after {
			margin: 30px auto 20px;
		}
	}
	.card {
      margin-top: 20px;
      margin-bottom: 20px;
		.flip-container {
			-webkit-perspective: 1000;
			-moz-perspective: 1000;
			-o-perspective: 1000;
			perspective: 1000;
			margin: 0 auto;
		}
		.flip-container:hover .flipper,
		.flip-container.hover .flipper {
			-webkit-transform: rotateY(-180deg);
			-moz-transform: rotateY(-180deg);
			-o-transform: rotateY(-180deg);
			transform: rotateY(-180deg);
		}
		.flip-container, .front, .back {
			width: 225px;
			height: 225px;
		}
		.flipper {
			-webkit-transition: 0.6s;
			-webkit-transform-style: preserve-3d;

			-moz-transition: 0.6s;
			-moz-transform-style: preserve-3d;

			-o-transition: 0.6s;
			-o-transform-style: preserve-3d;

			transition: 0.6s;
			transform-style: preserve-3d;

			position: relative;
		}

		.front, .back {
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
			-o-backface-visibility: hidden;
			backface-visibility: hidden;

			position: absolute;
			top: 0;
			left: 0;
		}
		.front {
			z-index: 2;
			img {
				-webkit-box-shadow: -1px 4px 21px -8px rgba(0, 0, 0, 0.42);
				-moz-box-shadow: -1px 4px 21px -8px rgba(0, 0, 0, 0.42);
				box-shadow: -1px 4px 21px -8px rgba(0, 0, 0, 0.42);
				width: 225px;
				height: 225px;
				border-radius: 6px;
			}
		}
		.back {
			-webkit-transform: rotateY(180deg);
			-moz-transform: rotateY(180deg);
			-o-transform: rotateY(180deg);
			transform: rotateY(180deg);
			border-radius: 6px;
			.slot-description {
				opacity: 1;
				position: absolute;
				top: 0;
				left: 0;
				width: 225px;
				height: 225px;
				border-radius: 6px;
				background: rgba(0, 0, 0, 0.75);
				color: #fff;
				text-align: left;
				padding: 15px 20px;
				.slot-description-row {
					margin-bottom: 5px;
					padding-bottom: 0;
					border-bottom: 2px solid;
					min-height: 43px;
					border-bottom-color: rgba(255, 255, 255, 0.1);
					div:last-child {
						font-weight: 900;
						font-size: 1.1em;
					}
					div:first-child {
						font-size: 0.9em;
						color: rgba(255, 255, 255, 0.6);
						line-height: 1.2em;
					}
				}

				.slot-description-row:last-child {
					border: none;
				}
			}
		}
	}
	.slot-title {
		margin: 10px 0;
		color: #222;
		font-size: 1.8em;
	}
	.default-button {
		display: inline-block;
		&:hover {
			animation: none;
		}
	}
}