.recommended-casino {
  padding-top: 50px;
  .default-button {
    display: inline-block;
    &:hover {
      text-decoration: none;
      color: #000;
      -webkit-animation: thumb 0.9s linear 1;
      -moz-animation: thumb 0.9s linear 1;
      -ms-animation: thumb 0.9s linear 1;
      -o-animation: thumb 0.9s linear 1;
      animation: thumb 0.9s linear 1;
    }
  }
  .see-casino {
    margin-bottom: 20px;
  }
  .green {
    font-size: 14px;
    &:hover {
      color: #fff;
    }
  }
  .casino-wrapper {
    background: white;
    border-radius: 5px;
    border: 2px solid #7BD84C;
    -webkit-box-shadow: 0px 7px 39px -12px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 7px 39px -12px rgba(0,0,0,0.6);
    box-shadow: 0px 7px 39px -12px rgba(0,0,0,0.6);
    width: 100%;
    position: relative;
    padding: 35px 0 35px 0;
    margin-bottom: 30px;
    margin-top: 10px;
    .corner {
      border-top-left-radius: 2px;
      top: 0;
      left: 0;
      padding: 5px 15px;
      font-size: 14px;
      font-weight: bold;
      color: white;
      text-transform: uppercase;
      position: absolute;
      background: #7bd74b;
    }
    .logo {
      a{
        display: inline-block;
        border-bottom: 1px solid #d3d3d3;
        padding-bottom: 20px;
      }
      img {
        max-width: 100%;
        max-height: 90px;
      }
    }
    .bonus-text {
      padding-top: 25px;
      height: 135px;
    }
  }

  @include mobile-landscape {
    margin-top: 0;
    .casino-wrapper {
      max-width: 273px;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    .default-button {
      margin-top: 0px;
    }
  }
  @include tablet-portrait {
    .casino-wrapper {
      max-width: 273px;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    .default-button {
      margin-top: 0px;
    }
  }
  @include mobile-landscape {
    padding-top: 10px;
  }
}