.review-video-container {
	iframe {
		min-height: 630px;
		width: 100%;
		@media (max-width: 1200px) {
			width: 100%;
			height: 100%;
			min-height: 406px;
		}
		@media (max-width: 990px) {
			min-height: 380px;
		}
		@include mobile-landscape {
			min-height: 350px;
		}
		@media (max-width: 480px) {
			min-height: 238px;
		}
		@media (max-width: 380px) {
			min-height: 205px;
		}
		@media (max-width: 340px) {
			min-height: 186px;
		}
	}
}