.reviews-list {
	margin-top: 20px;
	.item {
		padding: 20px 30px;
		box-shadow: 0 0 15px #c3bfbf;
		-webkit-box-shadow: 0 0 15px #c3bfbf;
		-moz-box-shadow: 0 0 15px #c3bfbf;
		border-radius: 10px;
		margin-bottom: 20px;
	}
	.top-layer {
		border-bottom: 1px solid rgba(172,172,172,0.18);
		padding-bottom: 15px;
		h3 {
			margin-top: 10px;
			margin-bottom: 10px;
			font-size: 30px;
			font-weight: 900;
		}
		.logo-border {
			position: relative;
			&:after {
				content: '';
				position: absolute;
				height: 70px;
				width: 1px;
				background-color: rgba(172,172,172,0.18);
				top: 0;
				right: 10px;
			}
		}
		.post-paragraph {
			color: #acacac;
			min-height: 60px;
		}
		.stars {
			font-size: 1.5em;
		}
		.score {
			margin-top: 15px;
		}
		.review-link {
			color: #222;
			text-decoration: underline;
			font-size: 1.2em;
			display: block;
			margin-top: 3px;
		}
	}
	.bottom-layer {
		padding-top: 20px;
		.button {
			padding-top: 10px;
			text-align: right;
			@include mobile-landscape {
				text-align: center;
			}
			a {
				color: #2e6513;
				font-size: 14px;
			}
		}
	}
}

.reviews-list-mobile {
	.item {
		box-shadow: 0 0 15px #c3bfbf;
		-webkit-box-shadow: 0 0 15px #c3bfbf;
		-moz-box-shadow: 0 0 15px #c3bfbf;
		border-radius: 10px;
		padding: 10px 10px;
		margin-bottom: 20px;
	}
	.top-layer {
		.stars {
			font-size: 1.5em;
			display: inline-block;
			@include mobile-portrait{
				font-size: 1.2em;
			}
		}
		.score {
			text-align: right;
			margin-top: 5px;
			@include mobile-portrait {
				font-size: 0.8em;
			}
		}
		.get-bonus {
			margin-top: 15px;
			.text {
				border-top: 1px solid #eee;
				border-bottom: 1px solid #eee;
				padding-top: 15px;
				padding-bottom: 15px;
			}
			a {
				color: #2e6513;
				font-size: 14px;
				display: inline-block;
			}
		}
		.bottom {
			margin-top: 10px;
			color: #acacac;
			.review-link {
				color: #222;
				text-decoration: underline;
				font-size: 1.2em;
				display: block;
				margin-top: 3px;
				@include mobile-portrait {
					font-size: 1em;
				}
			}
		}
	}
}