.review-icon-list-with-telephone {
	margin-top: 35px;
	.field {
		margin-bottom: 10px;
		min-width: 180px;
		@include tablet-landscape {
			margin-bottom: 20px;
		}
		@include tablet-portrait {
			margin-bottom: 20px;
		}
		@include mobile-landscape {
			margin: 10px auto;
			display: inline-block;
		}
	}
	.feature-wrapper {
		padding: 10px 0;
		max-width: 270px;
		background-color: #fff;
		box-shadow: 0 2px 10px 3px #ddd;
		border-radius: 5px;
		overflow: hidden;
		@include tablet-landscape {
			max-width: 330px;
		}
		@include tablet-portrait {
			max-width: 330px;
		}
		.icon-checkmark, .icon-cancel---close {
			font-size: 0.8em;
			line-height: 8;
		}
		.icon-checkmark {
			color: #5ace59;
		}
		.icon-cancel---close {
			color: #ff3636;
		}
	}
	.feature {
		width: 75%;
		float: left;
		padding: 10px 0;
		i {
			font-size: 2.8em;
			color: #e2e2e2;
		}
		.title {
			font-size: 0.95em;
			padding-top: 5px;
		}
	}
	.state {
		width: 25%;
		float: left;
		border-left: 1px solid #ddd;
		height: 80px;
	}
	.additional-field {
		padding: 10px;
		max-width: 270px;
		border: 1px solid #ddd;
		border-radius: 0 0 5px 5px;
		overflow:hidden;
		@include tablet-landscape {
			max-width: 330px;
		}
		@include tablet-portrait {
			max-width: 330px;
		}
	}
}