.review-coupon-software {
  margin-top: 40px;
  img {
    margin: 0 auto;
    @include desktop() {
      float: right;
    }
  }
  .content-wrapper {
    border-left: 1px solid #ddd;
    padding: 0 15px;
    @media(max-width:991px) {
      border:none;
    }
    .title-info {
      margin-top: 0;
      font-weight: 300;
      font-size: 1.5em;
      margin-bottom: 10px;
      &:after {
        width: 15px;
        content: '';
        margin: 12px 0 0 0;
        display: block;
        border: 1px solid #eee;
      }
      @include tablet-portrait {
        text-align:center;
        &:after{
          margin:12px auto 0 auto;
        }
      }
    }
   .info-fields {
      padding-left: 0;
      font-size: 1.5em;
     .info-field {
       margin-bottom: 7px;
       font-size: 16px;
       white-space: nowrap;
       list-style: none;
       b {
         font-weight: 900;
       }
       @include mobile-landscape {
         font-size: 15px;
       }
       @include mobile-portrait {
         font-size: 12px;
       }
     }
    }
  }
}