.review-payment-methods {
	padding-left:0;
	padding-top: 10px;
	.payment-method {
		width: 100%;
		margin: 0 10px;
		max-width: 230px;
		display: inline-block;
		-webkit-box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.12);
		-moz-box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.12);
		box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.12);
		border-radius: 5px;
	}
	.border-right {
		border-right: 1px solid #ececec;
	}
	.options {
		overflow: hidden;
		font-weight: 300;
		width: 100%;
		padding: 5px 0;
	}
	.card {
		-webkit-box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.12);
		-moz-box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.12);
		box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.12);
		border-radius: 5px;
	}
	.icon-checkmark {
		color: #5ace59;
	}

	.icon-cancel---close {
		color: #ff3636;
	}
	.logo {
		height: 80px;
		background-size: 40%;
		img {
			height:auto;
			width:90px;
			margin: 20px auto;
		}
	}
	.status {
		height:40px;
		border-bottom: 1px solid #ddd;

		&:first-child{
			border-right: 1px solid #ddd;
		}
	}
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		.payment-method {
			border: 1px solid rgba(172, 172, 172, 0.18);
		}
	}
	@supports (-ms-ime-align:auto) {
		.payment-method {
			border: 1px solid rgba(172, 172, 172, 0.18);
		}
	}
	@supports (-ms-accelerator:auto) {
		.payment-method {
			border: 1px solid rgba(172, 172, 172, 0.18);
		}
	}
}