.review-icon-list-vertical {
  margin-top: 35px;
  .feature-card {
    text-align: center;
    display:inline-block;
    font-weight: 300;
    max-width: 150px;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
    -webkit-box-shadow: 0 -3px 10px 3px #ddd;
    -moz-box-shadow: 0 -3px 10px 3px #ddd;
    box-shadow: 0 -3px 10px 3px #ddd;

    .top-section {
      text-align: center;
      height: 50px;
      border-radius: 5px 5px 0 0;
      background-color: #f2f2f2;
      padding: 18px;
      .icon-checkmark {
        color: #5ace59;
      }
      .icon-cancel---close {
        color: #ff3636;
      }
    }
    .bottom-section {
      .feature-wrapper{
        padding: 5px;
      }
      i {
        font-size: 2em;
        line-height: 1.8;
      }
      .field-name {
        text-align: center;
        font-size: 1em;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}