.review-icon-list {
	.col-center {
		padding-left: 5px;
		padding-right: 5px;
	}
	.feature-card {
		background-color: #fff;
		box-shadow: 0 2px 10px 3px #ddd;
		min-width: 150px;
		@include mobile-landscape {
			min-width: auto;
		}
		border-radius: 4px;
		&.feature-items {
			padding: 5% 2%;
			max-width: 180px;
			margin: 10px auto 0;
			.feature {
				padding-top: 10px;
				.field-title {
					font-size: 0.95em;
					padding-top: 5px;
				}
				i {
					font-size: 2.8em;
				}
			}
			.status {
				border-left: 1px solid #ddd;
				margin-top: 10px;
				margin-bottom: 10px;
				i {
					&.icon-checkmark, &.icon-cancel---close {
						font-size: 0.8em;
						line-height: 5.5;
					}

					&.icon-checkmark {
						color: #5ace59;
					}

					&.icon-cancel---close {
						color: #ff3636;
					}
				}
			}
		}
	}
}