.review-coupon {
  .wrapper-white {
    -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.25);
    border-radius: 4px;
    padding-top: 12px;
    background: #fff;
    h1 {
      color: #222;
      margin-bottom: 0;
      text-align: center;
    }
    img {
      @include tablet-portrait {
        margin: 0 auto;
      }
      @include mobile-landscape {
        margin: 0 auto;
      }
    }
    .statistic {
      margin-top: 10px;
      padding-bottom: 15px;
      font-size: 17px;
      line-height: 30px;
      font-weight: 300;
      @include mobile-landscape {
        font-size: 14px;
        line-height: 26px;
      }
      ul {
        padding: 0;
        margin-bottom: 0;
      }
      b{
        font-weight: 900;
      }
    }
  .wrapper-features {
    border-top: 1px solid #eee;
    ul {
      list-style: none;
      padding: 0;
      margin-bottom: 0;
      li {
        display: inline-block;
      }
    }
  }
  }
  .bottom-section {
    background: #000;
    border-radius: 4px;
    color: #fff;
    padding: 20px 0;
    font-size: 28px;
    .bonus {
      p {
        display: inline-block;
      }
    }
    .bonus-now-bg {
      width: 216px;
      height: 55px;
      background: url(/app/themes/playright/front/img/button-get-bonus.jpg) no-repeat;
      font-weight: bold;
      display: inline;
      float: right;
      background-size: contain;
    }
  }
}