.review-rating {
	.circle-progress-overlay {
		overflow:hidden;
		border: 1px solid #acacac;
		float: left;
		background-color: #fff;
		line-height: 1.2;
		border-radius: 50%;
		margin-left: 7px;
		margin-top: 6px;
		text-align: center;
		width: 167px;
		height: 167px;
		font-size: 24px;
	}

	.circularProgress {
		margin-right: 20px;
		margin-bottom: 20px;
		position: relative;
		border-radius: 50%;
		background-color: #fff;
		border:none;
		width: 180px;
		height: 180px;
	}

	p.rating {
		margin: 22px;
		font-size: 1.8em;
		position: relative;
		span {
			word-break: normal;
			font-size: 0.35em;
			display: block;
			margin-top: 8px;
		}
	}
	@include mobile-landscape {
		.circularProgress {
			width: 97px;
			height: 98px;
		}
		.circle-progress-overlay {
			width: 93px;
			height: 94px;
			margin-left: 2px;
			margin-top: 2px;
		}
		p.rating {
			margin: 18px 10px;
			font-size: 1em;
		}
	}
}
.review-slots .review-rating {
	.circularProgress {
		width: 110px;
		height: 110px;
	}
	.circle-progress-overlay {
		width: 98px;
		height: 98px;
	}
	p.rating {
		font-size: 1.2em;
		margin: 10px;
		span {
			font-size: 0.5em;
			text-transform: none;
		}
	}
	.col-center {
		margin: 0 51px 0 auto;
		@include tablet-landscape {
			margin: 0 -3px 0 auto;
		}
		@include tablet-portrait {
			margin: 0 -3px 0 auto;
		}
		@include mobile-landscape {
			margin: 0 -9px 0 auto;
		}
	}
	@include mobile-landscape {
		.circularProgress {
			width: 85px;
			height: 85px;
		}
		.circle-progress-overlay {
			width: 78px;
			height: 78px;
			margin-left: 4px;
			margin-top: 4px;
		}
		p.rating {
			margin: 10px;
			font-size: 0.9em;
		}
	}
}
.medium .review-rating {
	display: table;
	margin: 2% auto;
	.circularProgress {
		width: 137px;
		height: 137px;
		margin-right: 2px;
	}
	.circle-progress-overlay {
		width: 125px;
		height: 125px;
		p {
			font-size: 1.3em;
		}
	}
}

.circularProgress.\--0 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(90deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(90deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(90deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(90deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--1 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(93.6deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(93.6deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(93.6deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(93.6deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--2 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(97.2deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(97.2deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(97.2deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(97.2deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--3 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(100.8deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(100.8deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(100.8deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(100.8deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--4 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(104.4deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(104.4deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(104.4deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(104.4deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--5 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(108deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(108deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(108deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(108deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--6 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(111.6deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(111.6deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(111.6deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(111.6deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--7 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(115.2deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(115.2deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(115.2deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(115.2deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--8 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(118.8deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(118.8deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(118.8deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(118.8deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--9 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(122.4deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(122.4deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(122.4deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(122.4deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--10 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(126deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(126deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(126deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(126deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--11 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(129.6deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(129.6deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(129.6deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(129.6deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--12 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(133.2deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(133.2deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(133.2deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(133.2deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--13 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(136.8deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(136.8deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(136.8deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(136.8deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--14 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(140.4deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(140.4deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(140.4deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(140.4deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--15 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(144deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(144deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(144deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(144deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--16 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(147.6deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(147.6deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(147.6deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(147.6deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--17 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(151.2deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(151.2deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(151.2deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(151.2deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--18 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(154.8deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(154.8deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(154.8deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(154.8deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--19 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(158.4deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(158.4deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(158.4deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(158.4deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--20 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(162deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(162deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(162deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(162deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--21 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(165.6deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(165.6deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(165.6deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(165.6deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--22 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(169.2deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(169.2deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(169.2deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(169.2deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--23 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(172.8deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(172.8deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(172.8deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(172.8deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--24 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(176.4deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(176.4deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(176.4deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(176.4deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--25 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(180deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(180deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(180deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(180deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--26 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(183.6deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(183.6deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(183.6deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(183.6deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--27 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(187.2deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(187.2deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(187.2deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(187.2deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--28 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(190.8deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(190.8deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(190.8deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(190.8deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--29 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(194.4deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(194.4deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(194.4deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(194.4deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--30 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(198deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(198deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(198deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(198deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--31 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(201.6deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(201.6deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(201.6deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(201.6deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--32 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(205.2deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(205.2deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(205.2deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(205.2deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--33 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(208.8deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(208.8deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(208.8deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(208.8deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--34 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(212.4deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(212.4deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(212.4deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(212.4deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--35 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(216deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(216deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(216deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(216deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--36 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(219.6deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(219.6deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(219.6deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(219.6deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--37 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(223.2deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(223.2deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(223.2deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(223.2deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--38 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(226.8deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(226.8deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(226.8deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(226.8deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--39 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(230.4deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(230.4deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(230.4deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(230.4deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--40 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(234deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(234deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(234deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(234deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--41 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(237.6deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(237.6deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(237.6deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(237.6deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--42 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(241.2deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(241.2deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(241.2deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(241.2deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--43 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(244.8deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(244.8deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(244.8deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(244.8deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--44 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(248.4deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(248.4deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(248.4deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(248.4deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--45 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(252deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(252deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(252deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(252deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--46 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(255.6deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(255.6deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(255.6deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(255.6deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--47 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(259.2deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(259.2deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(259.2deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(259.2deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--48 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(262.8deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(262.8deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(262.8deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(262.8deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--49 {
	background-image: -o-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-o-linear-gradient(266.4deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-moz-linear-gradient(266.4deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fff 50%,transparent 50%,transparent),-webkit-linear-gradient(266.4deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fff 50%,transparent 50%,transparent),linear-gradient(266.4deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--50 {
	background-image: -o-linear-gradient(-90deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(-90deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(-90deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(-90deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--51 {
	background-image: -o-linear-gradient(-86.4deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(-86.4deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(-86.4deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(-86.4deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--52 {
	background-image: -o-linear-gradient(-82.8deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(-82.8deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(-82.8deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(-82.8deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--53 {
	background-image: -o-linear-gradient(-79.2deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(-79.2deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(-79.2deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(-79.2deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--54 {
	background-image: -o-linear-gradient(-75.6deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(-75.6deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(-75.6deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(-75.6deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--55 {
	background-image: -o-linear-gradient(-72deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(-72deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(-72deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(-72deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--56 {
	background-image: -o-linear-gradient(-68.4deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(-68.4deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(-68.4deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(-68.4deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--57 {
	background-image: -o-linear-gradient(-64.8deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(-64.8deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(-64.8deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(-64.8deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--58 {
	background-image: -o-linear-gradient(-61.2deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(-61.2deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(-61.2deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(-61.2deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--59 {
	background-image: -o-linear-gradient(-57.6deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(-57.6deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(-57.6deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(-57.6deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--60 {
	background-image: -o-linear-gradient(-54deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(-54deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(-54deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(-54deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--61 {
	background-image: -o-linear-gradient(-50.4deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(-50.4deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(-50.4deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(-50.4deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--62 {
	background-image: -o-linear-gradient(-46.8deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(-46.8deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(-46.8deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(-46.8deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--63 {
	background-image: -o-linear-gradient(-43.2deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(-43.2deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(-43.2deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(-43.2deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--64 {
	background-image: -o-linear-gradient(-39.6deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(-39.6deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(-39.6deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(-39.6deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--65 {
	background-image: -o-linear-gradient(-36deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(-36deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(-36deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(-36deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--66 {
	background-image: -o-linear-gradient(-32.4deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(-32.4deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(-32.4deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(-32.4deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--67 {
	background-image: -o-linear-gradient(-28.8deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(-28.8deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(-28.8deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(-28.8deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--68 {
	background-image: -o-linear-gradient(-25.2deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(-25.2deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(-25.2deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(-25.2deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--69 {
	background-image: -o-linear-gradient(-21.6deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(-21.6deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(-21.6deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(-21.6deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--70 {
	background-image: -o-linear-gradient(-18deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(-18deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(-18deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(-18deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--71 {
	background-image: -o-linear-gradient(-14.4deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(-14.4deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(-14.4deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(-14.4deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--72 {
	background-image: -o-linear-gradient(-10.8deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(-10.8deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(-10.8deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(-10.8deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--73 {
	background-image: -o-linear-gradient(-7.2deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(-7.2deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(-7.2deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(-7.2deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--74 {
	background-image: -o-linear-gradient(-3.6deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(-3.6deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(-3.6deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(-3.6deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--75 {
	background-image: -o-linear-gradient(0deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(0deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(0deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(0deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--76 {
	background-image: -o-linear-gradient(3.6deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(3.6deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(3.6deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(3.6deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--77 {
	background-image: -o-linear-gradient(7.2deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(7.2deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(7.2deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(7.2deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--78 {
	background-image: -o-linear-gradient(10.8deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(10.8deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(10.8deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(10.8deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--79 {
	background-image: -o-linear-gradient(14.4deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(14.4deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(14.4deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(14.4deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--80 {
	background-image: -o-linear-gradient(18deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(18deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(18deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(18deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--81 {
	background-image: -o-linear-gradient(21.6deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(21.6deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(21.6deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(21.6deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--82 {
	background-image: -o-linear-gradient(25.2deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(25.2deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(25.2deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(25.2deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--83 {
	background-image: -o-linear-gradient(28.8deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(28.8deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(28.8deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(28.8deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--84 {
	background-image: -o-linear-gradient(32.4deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(32.4deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(32.4deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(32.4deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--85 {
	background-image: -o-linear-gradient(36deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(36deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(36deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(36deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--86 {
	background-image: -o-linear-gradient(39.6deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(39.6deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(39.6deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(39.6deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--87 {
	background-image: -o-linear-gradient(43.2deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(43.2deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(43.2deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(43.2deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--88 {
	background-image: -o-linear-gradient(46.8deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(46.8deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(46.8deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(46.8deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--89 {
	background-image: -o-linear-gradient(50.4deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(50.4deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(50.4deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(50.4deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--90 {
	background-image: -o-linear-gradient(54deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(54deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(54deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(54deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--91 {
	background-image: -o-linear-gradient(57.6deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(57.6deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(57.6deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(57.6deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--92 {
	background-image: -o-linear-gradient(61.2deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(61.2deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(61.2deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(61.2deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--93 {
	background-image: -o-linear-gradient(64.8deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(64.8deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(64.8deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(64.8deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--94 {
	background-image: -o-linear-gradient(68.4deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(68.4deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(68.4deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(68.4deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--95 {
	background-image: -o-linear-gradient(72deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(72deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(72deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(72deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--96 {
	background-image: -o-linear-gradient(75.6deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(75.6deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(75.6deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(75.6deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--97 {
	background-image: -o-linear-gradient(79.2deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(79.2deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(79.2deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(79.2deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--98 {
	background-image: -o-linear-gradient(82.8deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(82.8deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(82.8deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(82.8deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--99 {
	background-image: -o-linear-gradient(86.4deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(86.4deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(86.4deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(86.4deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}

.circularProgress.\--100 {
	background-image: -o-linear-gradient(90deg,#fdd007 50%,transparent 50%,transparent),-o-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -moz-linear-gradient(90deg,#fdd007 50%,transparent 50%,transparent),-moz-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: -webkit-linear-gradient(90deg,#fdd007 50%,transparent 50%,transparent),-webkit-linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff);
	background-image: linear-gradient(90deg,#fdd007 50%,transparent 50%,transparent),linear-gradient(270deg,#fdd007 50%,#fff 50%,#fff)
}