.side-reviews-list {
  h3 {
    margin-bottom: 15px;
    font-weight: 400;
    margin-top: 15px;
  }
  img {
    width: 330px;
    display: block;
  }
  a {
    display: inline-block;
    margin: 20px auto;
    text-align: center;
    &:hover {
      animation: none;
    }

  }
  padding-bottom: 20px;
}