.side-features-list {
	font-size: 1.4em;
	font-weight: 300;
	margin-bottom: 10px;
	&:after{
		content: "";
		border-top: 1px solid #ddd;
		display:block;
		margin-top: 10px;
	}

	.item {
		strong {
			font-weight: 900;
		}
		i{
			font-size: 0.7em;
		}
		.icon-checkmark {
			color: #5ace59;
		}
		@include mobile-landscape {
			display: inline-block;
			padding-right: 5px;
		}
	}
	@include tablet-portrait {
		&:after{
			content: "";
			border-top: 0px solid #ddd;
		}
	}
	@include mobile-landscape {
		font-size: 1.1em;
		text-align: center;
		padding-bottom: 5px;
		&:after{
			margin-top: 10px;
		}
	}

}