.sidelist {
	.item-wrapper {

		.bottom {
			padding: 15px 0;
			hr {
				margin-top: 35px;
				margin-bottom: 10px;
				border-bottom: 1px solid lightgray;
			}
			a {
				color: #222;
				text-decoration: underline;
			}
		}
	}
}