.slider {
	position: relative;
	margin-bottom: 70px;
	.slider-element {
		.logo {
			img {
				max-height: 150px;
				display: inline-block;
				margin-right: 20px;
			}
			h3 {
				font-size: 45px;
				display: inline-block;
				margin: 0;
				font-weight: 700;
				vertical-align: bottom;
			}
		}
		.text {
			margin: 25px 0 0;
			min-height: 125px;
			a {
				color: #222;
				text-decoration: underline;
				margin-top: 5px;
			}
		}
		.benefits-wrapper {
			width: 100%;
			margin: -5px -10px;
			display: table;
			border-collapse: separate;
			border-spacing: 10px;
			table-layout: fixed;
			.benefit-card {
				padding: 18px 25px;
				border: 1px solid #f6f6f6;
				display: table-cell;
				vertical-align: middle;
				.device {
					white-space: nowrap;
					padding: 0px;
					margin: 0px 0px 1px;
					i {
						margin-right: 5px;
						&.green {
							color: #57cd56;
						}
						&.red {
							color: #e0253b;
						}
					}
				}
			}
		}
		.default-button {
			font-size: 14px;
			text-align: center;
			margin: 20px 10px;
			color: #000;
			display: inline-block;
			&:hover {
				-webkit-animation: thumb 0.9s linear 1;
				-moz-animation: thumb 0.9s linear 1;
				-ms-animation: thumb 0.9s linear 1;
				-o-animation: thumb 0.9s linear 1;
				animation: thumb 0.9s linear 1;
			}
		}
		.right-part {
			img {
				margin-top: 64px;
				@include tablet-landscape {
					margin-top: 147px;
				}
			}
		}

	}
	.slick-arrow {
		position: absolute;
		bottom: -5%;
		right: 49%;
		font-size: 2em;
		color: #d0d0d0;
		cursor: pointer;
		&:hover {
			color: #779e7e;
		}
	}
	.previous-slide {
		right: 46%;
	}
	.next-slide {
		right: 50%;
	}
}