.slider-multiitem {
  .slider-for {
    margin:0 auto;
    width:80%;
    text-align:center;
    .slide-element {
      height: 350px;
      margin: 0 0px;
    }
  }
  .slider-nav {
    width:87%;
    margin: 15px auto 0 auto;
    .slide-element {
      padding-left: 5px;
      padding-right: 5px;
      margin: 0 0px;
      cursor: pointer;
      .element {
        height: 130px;
      }
    }
    i.icon-arrow {
      position: absolute;
      top: 35px;
      border: none;
      font-size: 3.2em;
      color: #acacac;
      cursor: pointer;
      &:hover {
        color: #222;
      }
    }
    .previous-slide {
      left: -45px;
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH";
    }
    .next-slide {
      right: -45px;
    }
  }
}

.slider-multiitem-mobile {
  max-width: 260px;
  margin: 0 auto;
  .slick-element {
    padding: 0 15px 0 15px;
    .element {
      height: 155px;
    }
  }
  .default-button {
    display: inline-block;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}