.slider-dl {
  margin-top: 10px;
	.dynamic-item-wrapper {
		display: table;
		width: 97%;
		max-width: 97%;
		margin: 15px auto;
		color: #222;
		font-size: 1.2em;
		box-shadow: 0 0 15px #c3bfbf;
		border-radius: 10px;
      max-height: 160px;
		.cell {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			border-left: 1px solid #d3d3d3;
			padding: 10px;
			&.logo {
				width: 17.77%;
              border-top-left-radius: 10px;
              border-bottom-left-radius: 10px;
			}
			&.bonus {
              width: 25.68%;
              line-height: 1.2;
				.more {
					font-weight: 300;
					text-decoration: underline;
					cursor: pointer;
					position: relative;
                    &:hover {
                      >.bonus-box {
                        display: block;
                        -webkit-animation: zoomIn 0.2s linear 1;
                        -moz-animation: zoomIn 0.2s ease-out 1;
                        -ms-animation: zoomIn 0.2s ease-out 1;
                        -o-animation: zoomIn 0.2s ease-out 1;
                        animation: zoomIn 0.2s ease-out 1;
                      }
                    }

                }
			}
          &.features {
            width: 17.27%;
            ul {
              padding: 5px;
              li {
                display: inline-block;
                color: #6b6b6b;
                margin: 2px 2px 5px;
                padding: 3px 5px 0;
                background-color: #f4f4f4;
                border: 1px solid #d3d3d3;
                font-size: 1em;
                position: relative;
                i {
                  color: black;
                  font-weight: bold;
                }
                &:hover {
                  span.hover-tooltip {
                    display: block;
                  }
                }
              }
              span.hover-tooltip {
                display: none;
                position: absolute;
                background-color: black;
                color: #fff;
                width: 150px;
                font-size: 16px;
                text-align: center;
                border-radius: 6px;
                padding: 5px;
                z-index: 1;
                bottom: 150%;
                left: 50%;
                margin-left: -78px;
                &:after {
                  content: "";
                  position: absolute;
                  top: 100%;
                  left: 50%;
                  margin-left: -5px;
                  border-width: 5px;
                  border-style: solid;
                  border-color: black transparent transparent transparent;
                }
              }
            }
          }
          &.get-bonus {
            width: 15.94%;
            border-right: none;
            .button {
              text-decoration: none;
              background: url(/app/themes/playright/front/img/button-get-bonus.png) no-repeat center center;
              display: block;
              width: 140px;
              height: 137px;
              margin: auto;
              &:hover {
                box-shadow: inset 0px 0px 50px 20px rgba(33,214,55,0.42), 0px 0px 25px 5px rgba(6,166,18,0.5);
              }
            }
          }
		}
	}
  .bonus-box {
    display: none;
    padding: 25px;
    left: -10px;
    top: 35px;
    color: #000;
    position: absolute;
    z-index: 9999;
    font-weight: normal;
    text-decoration: none;
    background-color: #f5c22a;
    width: 228px;
    @include tablet-landscape {
      left: -35px;
    }
    @include tablet-portrait {
      left: 15px;
    }
    &:after {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent #f5c22a transparent;
    }
    p {
      margin-bottom: 3px;
      font-size: 16px;
      &:first-child {
        margin-bottom:15px;
      }
    }
    a {
      color: #fff;
      background-color: #000;
      text-transform: uppercase;
      display: block;
      margin-top: 20px;
      padding: 7px 0;
      text-decoration: none;
      font-size: 16px;
      &:hover {
        text-decoration: none;
      }
    }
  }

  ul.slick-dots {
    list-style: none;
    position: relative;
    width: 100%;
    max-width: 1170px;
    text-align: center;
    li {
      transition: all 0.5s;
      display: inline-block;
      color: transparent;
      outline: none;

      margin: 0 5px;
      padding: 0;
      cursor: pointer;

      button {
       border-radius: 50%;
        padding: 0px;
        width: 20px;
        height: 20px;
        outline: none;
        border: 1px solid lightgray;
        background-color: #fff;
        &:focus {
          outline: none;
        }
      }
    }
    li.slick-active button {
      background: radial-gradient(circle, #eee, #bbb);
    }
    }

  @include mobile-landscape {
    .slide-element {
      padding-left: 10px;
      padding-right: 10px;
    }
    .slick-dots {
      padding: 0;
    }
  }
}
