.software-list-table {
	width: 100%;
	border-spacing: 0 5px;
	border-collapse: separate;
	margin-bottom: 100px;

	.software-list-item {
		border-bottom: 1px solid #e5e5e5;
		padding: 20px 0;
		@include mobile-landscape {
			text-align: center;
		}
		.cell {
			display: table-cell;
			vertical-align: top;
			&.logo {
				padding-top: 20px;
				@include mobile-landscape {
					width: 100%;
					padding-top: 0;
				}
				.logo-container {
					margin-right: 20px;
					padding-right: 20px;
					border-right: 1px solid #e5e5e5;
					@include mobile-landscape {
						border: none;
						margin-right: 0;
						padding-right: 0;
						img {
							margin: 0 auto;
						}
					}
				}
			}
			&.about {
				font-size: 1em;
				padding-top: 20px;
				h2 {
					margin: 0 0 20px 0;
					font-weight: 300;
				}
				.excerpt {
					color: #8d8d8d;
					margin-bottom: 20px;
				}
				.read-more {
					color: #000;
					font-weight: 900;
					text-decoration: underline;
				}
			}
		}

		.slide-element {
			margin: 10px auto;
			min-height: 250px;
			width: 145px;
			padding: 0 10px;
			.slider-image {
				height: 145px;
				width: 145px;
				-webkit-box-shadow: -1px 4px 21px -8px rgba(0,0,0,0.42);
				-moz-box-shadow: -1px 4px 21px -8px rgba(0,0,0,0.42);
				box-shadow: -1px 4px 21px -8px rgba(0,0,0,0.42);
				margin-bottom: 30px;
				border-radius: 6px;
				text-align: center;
				display: table;
				@include tablet-landscape {
					margin: 0 auto 30px;
				}
				@include tablet-portrait {
					margin: 0 auto 30px;
				}
				@include mobile-landscape {
					margin: 0 auto 30px;
				}
				div {
					display: table-cell;
					vertical-align: middle;
				}

			}
			.default-button {
				color: #724e0e;
				padding: 15px 24px;
				&:hover {
					animation: none;
				}
			}

		}
		i {
			font-size: 35px;
			cursor: pointer;
			display: inline-block;
			position: absolute;
			top: 75px;
		}
		i.previous-slide {
			left: -15px;
			-moz-transform: scaleX(-1);
			-o-transform: scaleX(-1);
			-webkit-transform: scaleX(-1);
			transform: scaleX(-1);
			filter: FlipH;
			-ms-filter: "FlipH";
		}
		i.next-slide {
			right: -10px;
		}
	}
}
