.sprite-features {
	margin-top: 35px;
	.sprite-item {
		position: relative;
		border-radius: 6px;
		margin-bottom: 5%;
		height: 98px;
		width: 100%;
		text-align: center;
		-webkit-box-shadow: 0 3px 26px 5px #dddddd;
		-moz-box-shadow: 0 3px 26px 5px #dddddd;
		box-shadow: 0 3px 26px 5px #dddddd;
	}
	.slick-slide {
		padding: 25px;
	}
	i.icon-arrow {
		position: absolute;
		top: 30px;
		border: none;
		font-size: 60px;
		color: #e2e2e2;
	}
	.previous-slide {
		left: -30px;
		-moz-transform: scaleX(-1);
		-o-transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
		filter: FlipH;
		-ms-filter: "FlipH";
	}
	.next-slide {
		right: -30px;
	}
}