.ticker {
	padding: 0;
	.slick-track {
		margin: 0 !important;
	}
	.feed-wrapper {
		background: #333;
		color: #fff;
		font-size: 13px;
		padding-left: 145px;
		padding-right: 30px;
		position: relative;
		height: 44px;
		.live-banner {
			width: 177px;
			height: 47px;
			background-image: url(https://playright.co.uk/top-assets/sites/5/images/ticker-widget/ticker-left-logo.png);
			position: absolute;
			top: -2px;
			left: 0px;
			z-index: 1;
		}
		.slide-element {
			padding-right: 14px;
			padding-left: 14px;
			border-right: 1px solid #444;
			margin-top: 13px;
			outline: none !important;
			display: block;
		}
		button {
			display: none !important;
		}
		.icon-arrow {
			width: 12px;
			height: 19px;
			position: absolute;
			right: -15px;
			top: 11px;
			cursor: pointer;
			background: url(https://playright.co.uk/top-assets/sites/5/images/ticker-widget/arrow-right.png);
			&:before {
				content: "";
			}
		}
	}

}