.title-with-line {
  margin-top: 30px;
  h2 {
    margin: 0;
  }
  .subtitle{
    font-size: 1.2em;
    color: #000;
    padding-bottom: 40px;
    position: relative;
    font-weight: 300;
    margin-top: 5px;
    @include mobile-landscape {
      margin-bottom: 0;
    }
    &:after{
      position: absolute;
      content: "";
      width: 60px;
      left: 0;
      right: 0;
      height: 3px;
      margin: 0 auto;
      bottom: 0;
      background-color: #dddddd;
    }
  }
}